.widefat .column-downloaded {
  padding-left: 10px;
  padding-right: 0;
}

a.wps-optionsMenuItem {
  svg {
    margin-left: 7px;
    margin-right: 0px;
  }
}

.wps-adminHeader__activation {
  span {
    margin-left: 7px;
    margin-right: 0px;
  }
}
.daterangepicker{
  margin-left: 27px!important;
}

&.wps_page #TB_window{
  text-align: right;

  #TB_closeWindowButton{
    left: 16px;
    right: unset;
  }
  #TB_ajaxContent{
    .select2-container{
      .select2-selection__arrow b{
        margin-left: 0;
      }
      .select2-selection__rendered{
        padding: 6px 12px 6px 25px;
      }
    }
  }
 }

&.wps_page #TB_window .wps-modal-filter-form .wps-filter-item {
  text-align: right;
}