.widefat .column-downloaded {
  padding-left: 10px;
  padding-right: 0;
}

a.wps-optionsMenuItem {
  svg {
    margin-left: 7px;
    margin-right: 0px;
  }
}

.wps-adminHeader__activation {
  span {
    margin-left: 7px;
    margin-right: 0px;
  }
}
.daterangepicker{
  margin-left: 27px!important;
}