#wp-statistics-summary-widget,
.wps-wrap {
  .c-live {

    .c-live__status {
      margin-right: 0 !important;
      margin-left: 11px !important;
    }

    .c-live__title {
      margin-right: 0 !important;
      margin-left: 14px !important;
    }
  }
}