.edit-post-meta-boxes-area {
  .ui-sortable #wp-statistics-post-widget {
    margin-bottom: 24px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    background: $white-color !important;
    border: 1px solid $light-color;
    border-radius: 8px;

    .postbox-header {
      padding: 5.6px 12px 5.6px 4px !important;
      border: none !important;
      border-bottom: 1px solid $light-secondary-color !important;

      .toggle-indicator {
        color: #0c0c0d;

        &:hover {
          color: $primary-color;
        }
      }

      h2 {
        color: $dim-black-color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
      }
      .postbox .handlediv{
        height: unset!important;
      }
      .wps-refresh {
        top: 6px !important;
        right: 4.6% !important;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .handle-order-higher, .handle-order-lower {
      transform: translateX(-100%);

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:not([aria-disabled="true"]):hover {
        color: $primary-color;
      }
    }

    .handlediv {
      color: $dim-black-color;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .wp-statistics-widget {
      box-shadow: none;
      margin-bottom: 0;
    }

    .wps-fade-effect::after {
      content: unset;
    }
  }
}

.wps-wrap {
  .handlediv {
    color: $dim-black-color;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .postbox-header {
    .handlediv {
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }

      .toggle-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover:before{
          filter: contrast(10);
        }
        &::before {
          content: ""!important;
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCAxMyA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNi40OTk4MiA0LjUyNDM2TDEwLjgzMDkgMC4xOTMzNTlMMTIuMDY4MyAxLjQzMDc5TDYuNDk5ODIgNi45OTkzTDAuOTMxMzk2IDEuNDMwNzlMMi4xNjg4MyAwLjE5MzM1OUw2LjQ5OTgyIDQuNTI0MzZaIiBmaWxsPSIjNTY1ODVBIi8+Cjwvc3ZnPgo=") center center no-repeat;
        }

      }
    }
  }
}

.rtl {
  .wps-wrap {
    .postbox-header {
      .handlediv {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}