.wps-wrap {
  table {
    border-collapse: collapse;

    thead {

      tr th {
        padding: 8px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        border-bottom: 1px solid $light-secondary-color;
        color: $dark-tertiary-color;
        text-align: left;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 768px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }
      }
    }

    tbody {
      tr th {
        padding: 14px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $dark-tertiary-color;
        text-align: left;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 768px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }
      }

      tr td {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: $dark-color;
        border: none;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 768px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }

        a, a span {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: $dark-color;

          &:hover {
            color: $primary-color;
          }
        }
      }

      tr:nth-child(even) {
        th, td {
          background-color: $light-tertiary-color;
        }
      }
    }
  }
}
