
#wps-postbox-container-1 {
  width: 30%;
  float: left;

  #wp-statistics-browsers-widget, #wp-statistics-platforms-widget, #wp-statistics-devices-widget, #wp-statistics-models-widget {
    .wps-ph-item {
      .wps-ph-col-2 {
        display: none;
      }

      .wps-ph-col-8 {
        margin: 0;

        .wps-ph-avatar {
          max-width: 150px;
          margin: 0 auto;
        }
      }
    }
  }
}

#wps-postbox-container-2 {
  margin: 0 0 0 1%;
  width: 68%;
  float: right;
}

@media screen and (max-width: 998px) {
  #wps-postbox-container-1 {
    width: 35%;
  }

  #wps-postbox-container-2 {
    margin: 0 0 0 1%;
    width: 63%;
  }
}

@media screen and (max-width: 758px) {
  #wps-postbox-container-1 {
    width: 100%;
  }

  #wps-postbox-container-2 {
    margin: 0 0 0 1%;
    width: 100%;
  }
}

@media screen and (max-width: 524px) {
  #wps-postbox-container-1 {
    width: 100%;
  }

  #wps-postbox-container-2 {
    margin: 0 0 0 1%;
    width: 100%;
  }
}

#wps-postbox-container-1 a, #wps-postbox-container-2 a, #wps-big-postbox a {
  text-decoration: none;
}


.column-wp-statistics-post-hits ,.column-wp-statistics-tax-hits{
  width: 12%;

  .wps-column__chart{
    span{
      display: none!important;
    }
    &.wps-hide{
      display: none;
    }
  }
  canvas{
    //height: 35px!important;
    margin: 0 auto 3px;
  }

  div:not(.wps-column__chart){
    &>span{
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 14.06px;
      margin-right: 1px;
      color: #838494;
      display: inline-block;

      &.wps-hide{
        display: none;
      }

      .rtl &{
        margin-right: 0px;
        margin-left: 1px;
      }
    }
    &>a{
      color: #2C36D7;
      font-size: 12px;
      font-weight: 500;
      line-height: 14.06px;
    }
    &.wps-hide{
      display: none;
    }
  }
}
.wps-admin-mini-chart__unlock{
  th#wp-statistics-post-hits{
    width: 90px!important;
  }
}

.wps-admin-column__unlock {
     &-count{
      width: 52px;
      display: block;
      text-align: center;
      margin-top: 3px;
    }

  a {
    color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow:none!important;
    align-items: center;
    width: 52px;

    span.wps-admin-column__unlock__text {
      position: absolute;
      visibility: hidden;
      z-index: 1;
      font-size: 10px;
      font-weight: 500;
      line-height: 9px;
      letter-spacing: -0.04em;
      text-align: center;
      color:#404BF2;
      width: 52px;
    }
    .wps-admin-column__unlock__img{
      width:34.5px;
      height: 20px;
      display: inline-block;
      background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjM3IiBoZWlnaHQ9IjIyIiB2aWV3Qm94PSIwIDAgMzcgMjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIG9wYWNpdHk9IjAuMiIgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZl8xMjIzNl80MTY5MSkiPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS41IDEwKSIgZmlsbD0iI0E1QUFFQSIvPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNiAxKSIgZmlsbD0iI0E1QUFFQSIvPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuNSA3KSIgZmlsbD0iI0E1QUFFQSIvPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSI1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNSAxNikiIGZpbGw9IiNBNUFBRUEiLz4KPHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5LjUgMTApIiBmaWxsPSIjQTVBQUVBIi8+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0IDEzKSIgZmlsbD0iI0E1QUFFQSIvPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOC41IDE4KSIgZmlsbD0iI0E1QUFFQSIvPgo8cmVjdCB3aWR0aD0iMyIgaGVpZ2h0PSIxNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzMgNSkiIGZpbGw9IiNBNUFBRUEiLz4KPC9nPgo8ZGVmcz4KPGZpbHRlciBpZD0iZmlsdGVyMF9mXzEyMjM2XzQxNjkxIiB4PSIwLjUiIHk9IjAiIHdpZHRoPSIzNi41IiBoZWlnaHQ9IjIyIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+CjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+CjxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iQmFja2dyb3VuZEltYWdlRml4IiByZXN1bHQ9InNoYXBlIi8+CjxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjAuNSIgcmVzdWx0PSJlZmZlY3QxX2ZvcmVncm91bmRCbHVyXzEyMjM2XzQxNjkxIi8+CjwvZmlsdGVyPgo8L2RlZnM+Cjwvc3ZnPgo=") center center no-repeat;
      }

    .wps-admin-column__unlock__lock{
      width: 8.25px;
      height: 9px;
      visibility: visible;
      position: absolute;
      background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCA5IDExIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNy42MjUgNS4wODU5NEg4LjA2MjVDOC4zMDQxMyA1LjA4NTk0IDguNSA1LjI4MTgxIDguNSA1LjUyMzQ0VjkuODk4NDRDOC41IDEwLjE0MDEgOC4zMDQxMyAxMC4zMzU5IDguMDYyNSAxMC4zMzU5SDEuMDYyNUMwLjgyMDg3NyAxMC4zMzU5IDAuNjI1IDEwLjE0MDEgMC42MjUgOS44OTg0NFY1LjUyMzQ0QzAuNjI1IDUuMjgxODEgMC44MjA4NzcgNS4wODU5NCAxLjA2MjUgNS4wODU5NEgxLjVWNC42NDg0NEMxLjUgMi45NTcwNyAyLjg3MTEzIDEuNTg1OTQgNC41NjI1IDEuNTg1OTRDNi4yNTM4NyAxLjU4NTk0IDcuNjI1IDIuOTU3MDcgNy42MjUgNC42NDg0NFY1LjA4NTk0Wk02Ljc1IDUuMDg1OTRWNC42NDg0NEM2Ljc1IDMuNDQwMzIgNS43NzA2MSAyLjQ2MDk0IDQuNTYyNSAyLjQ2MDk0QzMuMzU0MzggMi40NjA5NCAyLjM3NSAzLjQ0MDMyIDIuMzc1IDQuNjQ4NDRWNS4wODU5NEg2Ljc1Wk00LjEyNSA2LjgzNTk0VjguNTg1OTRINVY2LjgzNTk0SDQuMTI1WiIgZmlsbD0iI0JFQzJGRiIvPgo8L3N2Zz4K") center center no-repeat;
    }
  }

  a:hover{
    span.wps-admin-column__unlock__text {
      visibility: visible;
    }
    .wps-admin-column__unlock__lock{
      visibility: hidden;
    }
  }

}
td:has(div.wps-admin-column__unlock){
  width: 90px!important;
  div{
    width: 90px!important;
  }
}

.wps-premium-box {

  &-feature {
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(64, 75, 242);
    border-image: initial;
    background: rgb(255, 255, 255);

    &__head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 32px;
      gap: 16px;

      h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: rgb(12, 12, 13);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        gap: 4px;
        white-space: nowrap;

        span {
          color: rgb(64, 75, 242);
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(86, 88, 90);
        margin: 0px;
      }
    }

    a.button-primary {
      margin: 0 auto;
      padding: 8px 16px 8px 41px!important;
      border-radius: 4px !important;
      font-size: 14px;
      font-weight: 700 !important;
      line-height: 22px !important;
      background-size: 15px;
      background-repeat: no-repeat;
      background-color: #404bf2;
      background-position: center left 16px;
      background-image: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE1IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTUgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04Ljc1IDMuMjczNDRDOS41OTEzOCAzLjI3MzQ0IDEwLjI3MzQgMi41OTEzNyAxMC4yNzM0IDEuNzVIMTAuOTc2NkMxMC45NzY2IDIuNTkxMzcgMTEuNjU4NiAzLjI3MzQ0IDEyLjUgMy4yNzM0NFYzLjk3NjU2QzExLjY1ODYgMy45NzY1NiAxMC45NzY2IDQuNjU4NjMgMTAuOTc2NiA1LjVIMTAuMjczNEMxMC4yNzM0IDQuNjU4NjMgOS41OTEzOCAzLjk3NjU2IDguNzUgMy45NzY1NlYzLjI3MzQ0Wk0wLjYyNSA3LjM3NUMyLjY5NjA3IDcuMzc1IDQuMzc1IDUuNjk2MDcgNC4zNzUgMy42MjVINS42MjVDNS42MjUgNS42OTYwNyA3LjMwMzk0IDcuMzc1IDkuMzc1IDcuMzc1VjguNjI1QzcuMzAzOTQgOC42MjUgNS42MjUgMTAuMzAzOSA1LjYyNSAxMi4zNzVINC4zNzVDNC4zNzUgMTAuMzAzOSAyLjY5NjA3IDguNjI1IDAuNjI1IDguNjI1VjcuMzc1Wk0xMC43ODEyIDkuMjVDMTAuNzgxMiAxMC4zNzE4IDkuODcxODEgMTEuMjgxMiA4Ljc1IDExLjI4MTJWMTIuMjE4N0M5Ljg3MTgxIDEyLjIxODcgMTAuNzgxMiAxMy4xMjgyIDEwLjc4MTIgMTQuMjVIMTEuNzE4OEMxMS43MTg4IDEzLjEyODIgMTIuNjI4MiAxMi4yMTg3IDEzLjc1IDEyLjIxODdWMTEuMjgxMkMxMi42MjgyIDExLjI4MTIgMTEuNzE4OCAxMC4zNzE4IDExLjcxODggOS4yNUgxMC43ODEyWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);

      .rtl &{
        padding: 8px 41px 8px 16px!important;
        background-position: center right 16px;
      }

      &:hover, &:focus, &:active {
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: center left 16px;
        background-color: #1e27bf;
        background-image: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE1IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTUgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04Ljc1IDMuMjczNDRDOS41OTEzOCAzLjI3MzQ0IDEwLjI3MzQgMi41OTEzNyAxMC4yNzM0IDEuNzVIMTAuOTc2NkMxMC45NzY2IDIuNTkxMzcgMTEuNjU4NiAzLjI3MzQ0IDEyLjUgMy4yNzM0NFYzLjk3NjU2QzExLjY1ODYgMy45NzY1NiAxMC45NzY2IDQuNjU4NjMgMTAuOTc2NiA1LjVIMTAuMjczNEMxMC4yNzM0IDQuNjU4NjMgOS41OTEzOCAzLjk3NjU2IDguNzUgMy45NzY1NlYzLjI3MzQ0Wk0wLjYyNSA3LjM3NUMyLjY5NjA3IDcuMzc1IDQuMzc1IDUuNjk2MDcgNC4zNzUgMy42MjVINS42MjVDNS42MjUgNS42OTYwNyA3LjMwMzk0IDcuMzc1IDkuMzc1IDcuMzc1VjguNjI1QzcuMzAzOTQgOC42MjUgNS42MjUgMTAuMzAzOSA1LjYyNSAxMi4zNzVINC4zNzVDNC4zNzUgMTAuMzAzOSAyLjY5NjA3IDguNjI1IDAuNjI1IDguNjI1VjcuMzc1Wk0xMC43ODEyIDkuMjVDMTAuNzgxMiAxMC4zNzE4IDkuODcxODEgMTEuMjgxMiA4Ljc1IDExLjI4MTJWMTIuMjE4N0M5Ljg3MTgxIDEyLjIxODcgMTAuNzgxMiAxMy4xMjgyIDEwLjc4MTIgMTQuMjVIMTEuNzE4OEMxMS43MTg4IDEzLjEyODIgMTIuNjI4MiAxMi4yMTg3IDEzLjc1IDEyLjIxODdWMTEuMjgxMkMxMi42MjgyIDExLjI4MTIgMTEuNzE4OCAxMC4zNzE4IDExLjcxODggOS4yNUgxMC43ODEyWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
      }
    }
  }

  &__items {
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px 128px;
  }

  &__item {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(12, 12, 13);
    min-width: 150px;
    box-sizing: border-box;
    padding-left: 28px;
    position: relative;
    box-sizing: border-box;
    .rtl &{
      padding-left: 0;
      padding-right: 28px;
    }

    @media(min-width: 1270px) {
      min-width: 398px;
    }

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      display: inline-flex;
      position: absolute;
      left: 0px;
      top: 0px;
      background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE4IiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02Ljk5OTcgMTAuMTcyOEwxNi4xOTIxIDAuOTgwNDY5TDE3LjYwNjMgMi4zOTQ2OEw2Ljk5OTcgMTMuMDAxMkwwLjYzNTc0MiA2LjYzNzM1TDIuMDQ5OTYgNS4yMjMxNUw2Ljk5OTcgMTAuMTcyOFoiIGZpbGw9IiMxOTYxNDAiLz4KPC9zdmc+Cg==) center center / 16.97px 12.02px no-repeat;

      .rtl &{
        left: unset;
        right: 0px;
      }
    }
  }

  &-image {
    text-align: center;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__info {
    border-top: 1px solid #dadce0;
    margin-bottom: 16px;
    padding-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #0c0c0d;
    text-align: center;
    width: 100%;
  }

}
