.wps-category-analytics {

  #performance-category-chart, #performance-category-chart-single {
    height: 299px !important;
    width: 100% !important;
    margin-top: 24px;
  }


  .wps-flex-container {
    margin-left: -24px;
    margin-right: -24px;
    flex-direction: column;
    display: flex;

    .wps-flex-half:first-child .wps-category-tabs {
      border-bottom: 1px solid #DADCE0;
      margin-bottom: 0;
      padding-bottom: 20px;
      @media (min-width: 1192px) {
        border-right: 1px solid #DADCE0;
        border-bottom: 0;
        margin-bottom: 20px;
        padding-bottom: 0;

        .rtl &{
          border-right: unset;
          border-left: 1px solid #DADCE0;
        }
      }
    }


    .wps-category-tabs {
      margin-top: 20px;
      margin-bottom: 20px;

      & > label:first-of-type {
        margin-left: 15px;

        .rtl &{
          margin-right: 15px;
          margin-left: 0;
        }
      }

      & > label:last-of-type {
        margin-right: 15px;
      }
    }

    @media (min-width: 1192px) {
      flex-direction: row;
      .wps-flex-half {
        flex: 1;
      }
      .wps-category-tabs {
        & > label:first-of-type {
          margin-left: 24px;
          .rtl &{
            margin-right: 24px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .wps-category-tabs {
    display: flex;
    flex-wrap: wrap;

    label {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background ease 0.3s;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #5F636C !important;
      padding: 0 6px 6px;
      @media (min-width: 376px) {
        padding: 0 12px 6px;
      }
    }

    .wps-category-tabs__content {
      order: 9;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: none;
      background: #fff;
      padding-top: 20px;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      color: #0C0C0D !important;
      border-bottom: 1px solid #404BF2
    }

    .wps-category-tabs__item {
      display: flex;
      gap: 8px;
      padding: 5px 24px;

      img {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
      }

      &--image {
        position: relative;

        svg {
          width: 39px;
          height: 39px;
          border-radius: 50%;
        }

        span {
          position: absolute;
          color: #fff;
          width: 39px;
          height: 39px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          background: #1f192dcc;
          display: none;
        }
      }

      &--content {
        display: flex;
        flex-direction: column;
        padding: 5px 0;
        gap: 3px;

        span {
          display: block;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.06px;
          color: #56585A;
        }

        h3 {
          margin: 0;

          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            color: #0C0C0D;

            word-break: break-word;
          }
        }
      }

      &:hover {
        background: #EEEFF1;

        h3 span {
          color: #404BF2;
        }

        .wps-category-tabs__item--image span {
          display: flex;
        }
      }
    }

    input[type="radio"]:checked + label + .wps-category-tabs__content {
      display: block;
    }
  }

  td .wps-ellipsis-parent {
    max-width: 250px;
  }

  .wps-ellipsis-parent {
    display: table;
    table-layout: fixed;
    width: 100%;

    .wps-ellipsis-text {
      display: table-cell;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}