/* Remove About Meta Box and Column */
body.toplevel_page_wps_overview_page {
  fieldset.columns-prefs, label[for=wp-statistics-about-widget-hide] {
    display: none !important;
  }

  #wp-statistics-search-widget{
    .inside,.wps-postbox-chart--data{
      margin-top: 0!important;
    }
  }

  #side-sortables {
    .postbox {

      .c-footer {
        @media screen and (min-width: 758px) and (max-width: 900px) {
          padding: 24px 4px 0 16px !important;
        }

        @media screen and (min-width: 758px) and (max-width: 1300px) {
          padding: 24px 4px 0 16px !important;
          flex-direction: column;
          align-items: flex-start;
        }

        @media screen and (min-width: 900px) and (max-width: 1420px) {
          padding: 32px 12px 4px 16px !important;
        }
      }
    }
  }

  #normal-sortables #wp-statistics-summary-widget {
    table {
      table-layout: fixed;

      tr {
        td:first-child, th:first-child {
          width: auto;
        }
      }
    }
  }

  #side-sortables #wp-statistics-summary-widget {
    table {

      tr {
        td:not(:first-child), th:not(:first-child) {
          @media screen and (min-width: 1250px) and (max-width: 1500px) {
            padding: 14px 0 14px 26px;
          }
        }
      }
    }
  }

  #normal-sortables #wp-statistics-top-visitors-widget {
    table {

      tr {
        td:not(:first-child), th:not(:first-child) {
          @media screen and (min-width: 1120px) and (max-width: 1500px) {
            padding: 14px 0 14px 26px;
          }
        }

        td:nth-child(2), th:nth-child(2) {
          @media screen and (min-width: 1120px) and (max-width: 1500px) {
            padding: 14px 0 14px 26px;
            width: 60px;
          }
        }
      }
    }
  }
}

.toplevel_page_wps_overview_page #screen-meta-links {
  position: absolute;
  z-index: 2;
  right: 0;
}

body.toplevel_page_wps_overview_page,
#dashboard-widgets-wrap {

  #wp-statistics-quickstats-widget , #wp-statistics-search-widget{
    .o-wrap{
      padding: 12px 24px !important;
      padding-top: 0 !important;
    }
  }

  .postbox-header:has(.wps-tooltip) {
    h2.hndle {
      display: block;
      position: relative;

      a.wps-tooltip {
        display: inline-block;
         position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}