form#wp-statistics-select-pages {
  margin-bottom: -15px;
  margin-top: 16px;

  .select-title {
    vertical-align: -2px;
  }

  select[name=ID] {
    width: 300px;
    margin: 0 8px;
  }

  input[type=submit] {
    margin: 0 5px;
    vertical-align: -2px;
  }

  .submit-form {
    padding: 0 5px;
    vertical-align: -3px;
  }

}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-comparison-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget,
.wps-wrap {

  &.wps-meta-box-footer {
    padding-top: 50px;
  }

  .subsubsub a.current {
    font-weight: 500 !important;
  }
}

.wps-admin-pages-component__preview {
  max-height: 300px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 4em;
  }
}

#wps-big-postbox .wps-admin-pages-component__preview {
  max-height: 290px;
}

.wps-admin-pages-component__promotion {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px 15px;
  width: auto;
  text-align: center;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.07);

  h2 {

  }

  p {
    margin: 5px !important;
  }

  a {
    padding: 10px 14px !important;
  }

  .button-primary {
    background: #404BF2 !important;
    border-radius: 4px !important;
  }
}

.misc-pub-hits {

  &:before {
    content: "\f184";
    font: normal 20px/1 dashicons;
    display: inline-block;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
    color: #8c8f94;
  }
}

#wp-statistics-pages-widget table tbody tr td a {
  color: $primary-color !important;
}