#TB_closeWindowButton:focus .tb-close-icon {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#referrals-filter {
  cursor: pointer;
  color: #666;
  transition: 0.5s all;
  margin-top: 5px;

  .dashicons {
    vertical-align: -5px;
  }

  &:hover {
    color: #d82424;
  }
}

#wps-referrals-filter-form {
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;

  table {
    width: 100%;
    position: relative;
  }

  table.widefat {
    border: 0 !important;
    box-shadow: none !important;
  }
}

.wps-referrals-filter {
  .select2-container {
    width: 100% !important;
  }

  .rtl & {
    text-align: right !important;
  }
}

