#TB_closeWindowButton:focus .tb-close-icon {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#referrals-filter {
  cursor: pointer;
  color: #666;
  transition: 0.5s all;
  margin-top: 5px;

  .dashicons {
    vertical-align: -5px;
  }

  &:hover {
    color: #d82424;
  }
}

#wps-referrals-filter-form {
  padding: 10px 5px;

  table {
    width: 100%;
  }

  table.widefat {
    border: 0 !important;
    box-shadow: none !important;
  }
}

#wps-referrals-filter-form {
  .wps-referrals-filter-title {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 6px;
  }

  .button-primary {
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 17px !important;
    padding: 14px 20px;
    border-radius: 2px;
    background-color: #404bf2;
    text-shadow: none;
    height: auto;
    transition: .2s;
    box-shadow: none;
    border: none;
    letter-spacing: .05rem;
    color: #fff;
    margin-top: 18px;

    &:hover {
      background-color: #1e27bf;
    }
  }

}

.wps-referrals-filter {
  .select2-container {
    width: 100% !important;
  }

  .rtl & {
    text-align: right !important;
  }
}