.wps-postbox-tracker {

  &__container {
    width: 774px;
    max-width: 100%;
    float: left;
    margin-right: 20px;

    .rtl & {
      float: right;
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__box {
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    padding: 32px;
    gap: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    gap: 24px;
    flex-direction: column;

    div {
      display: flex;
      gap: 10px;
      flex-direction: column;

      * {
        padding: 0;
        margin: 0;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        color: #292D32;
      }

      p {
        color: #56585A;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
      }
    }

  }

  &__help{
    border-top: 1px solid #EEEFF1;
    h4{
      font-size: 14px;
      font-weight: 500;
      line-height: 16.41px;
      padding: 0;
      margin-top: 32px;
      margin-bottom: 16px;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color:#56585A;

      a{
        text-decoration: underline;
      }
    }
  }

  &__activity{
    display: flex;
    gap: 24px;
    flex-direction: column;

    &-head{
      display: flex;
      gap: 8px;
      flex-direction: column;

      h4{
        color:#0C0C0D;
        font-size: 16px;
        font-weight: 500;
      }

      p{
        font-size: 13px;
        font-weight: 400;
        line-height: 15.23px;
        color:#56585A;
      }
      *{
        margin: 0;
        padding: 0;
      }
    }
  }
}