body[class*="wps_visitors_page"], body[class*="wps_visitors-report_page"] {



  // Disable focus TickBox
  #TB_closeWindowButton:focus .tb-close-icon {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  // Add Button
  #visitors-filter,
  #wps-modal-filter {
    transition: 0.5s all;
    margin-top: 5px;

    .dashicons {
      vertical-align: -5px;
    }

    &:hover {
      color: #d82424;
    }
  }

  // Select2
  .select2-dropdown {
    z-index: 9999999999 !important;
  }

  .select2-container {
    width: 100% !important;
  }

  //page column
  .tbl-page-column {
    width: 220px;

    span.txt-overflow {
      display: table;
      table-layout: fixed;
      width: 150px;

      a {
        display: table-cell !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#wps-visitors-filter-form {
  table{
    width: 100%;
  }
  table.widefat {
    border: 0 !important;
    box-shadow: none !important;
  }
}

html[dir=rtl] {
  body[class*="wps_visitors_page"], body[class*="wps_visitors-report_page"] {
    #TB_ajaxContent {
      text-align: right !important;
    }
  }
}

.wps-visitor__visitors-details {
  .wps-visitor__visitors-detail--row {
    display: flex;
    justify-content: space-between;
    color: #0C0C0D;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    align-items: center;

    span.wps-link-color{
      color: #404bf2 !important;
    }

    & > div {
      display: inline-flex;
      font-size: 13px;
      font-weight: 400;

      &.wps-browsers__flag, &.wps-os__flag, &.wps-country__flag, &.wps-ellipsis-parent {
        max-width: 160px;
        display: flex;
        gap: 6px;
        align-items: center;
        @media (max-width: 350px) {
          max-width: 130px;
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &.wps-country__flag {
        img {
          border-radius: 2px;
        }
      }

      a {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        max-width: 160px;
        @media (max-width: 350px) {
          max-width: 130px;
        }

        &.wps-visitor__username {
          img {
            border-radius: 50%;
            object-fit: cover;
          }
        }


        &.wps-link-arrow {
          span {
            max-width: calc(100% - 15px);
          }

          &:after {
            content: "";
            background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTMgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjQxNjY3IDMuMjVWNC4zMzMzM0gyLjcwODMzVjEwLjI5MTdIOC42NjY2N1Y3LjU4MzMzSDkuNzVWMTAuODMzM0M5Ljc1IDExLjEzMjUgOS41MDc1IDExLjM3NSA5LjIwODMzIDExLjM3NUgyLjE2NjY3QzEuODY3NTEgMTEuMzc1IDEuNjI1IDExLjEzMjUgMS42MjUgMTAuODMzM1YzLjc5MTY3QzEuNjI1IDMuNDkyNTIgMS44Njc1MSAzLjI1IDIuMTY2NjcgMy4yNUg1LjQxNjY3Wk0xMS4zNzUgMS42MjVWNS45NTgzM0gxMC4yOTE3TDEwLjI5MTYgMy40NzM3MUw2LjA3MDUxIDcuNjk1NTFMNS4zMDQ0OCA2LjkyOTQ5TDkuNTI1MTUgMi43MDgzM0g3LjA0MTY3VjEuNjI1SDExLjM3NVoiIGZpbGw9IiM0MDRCRjIiLz4KPC9zdmc+Cg==) center center no-repeat;
            width: 13px;
            min-width: 13px;
            height: 13px;
            display: inline-flex;
            margin-top: 1px;

            .rtl &{
              transform: rotateY(180deg);
            }
          }
        }

        span {
          color: #404bf2 !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }

    & > span {
      font-size: 13px;
      font-weight: 400;
      line-height: 15.23px;
      letter-spacing: 0.01em;
    }
  }
  .wps-visitor__visitors-detail--link{
    span.wps-link-arrow{
      display: flex !important;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      a{
        color: #404bf2 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:after {
          content: "";
          background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTMgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjQxNjY3IDMuMjVWNC4zMzMzM0gyLjcwODMzVjEwLjI5MTdIOC42NjY2N1Y3LjU4MzMzSDkuNzVWMTAuODMzM0M5Ljc1IDExLjEzMjUgOS41MDc1IDExLjM3NSA5LjIwODMzIDExLjM3NUgyLjE2NjY3QzEuODY3NTEgMTEuMzc1IDEuNjI1IDExLjEzMjUgMS42MjUgMTAuODMzM1YzLjc5MTY3QzEuNjI1IDMuNDkyNTIgMS44Njc1MSAzLjI1IDIuMTY2NjcgMy4yNUg1LjQxNjY3Wk0xMS4zNzUgMS42MjVWNS45NTgzM0gxMC4yOTE3TDEwLjI5MTYgMy40NzM3MUw2LjA3MDUxIDcuNjk1NTFMNS4zMDQ0OCA2LjkyOTQ5TDkuNTI1MTUgMi43MDgzM0g3LjA0MTY3VjEuNjI1SDExLjM3NVoiIGZpbGw9IiM0MDRCRjIiLz4KPC9zdmc+Cg==) center center no-repeat;
          width: 13px;
          min-width: 13px;
          height: 13px;
          display: inline-flex;

          .rtl &{
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
}

.o-table-wrapper .wps-new-table.wps-recent-views-table {
  tbody td {
    width: 50%;

    a.wps-link-arrow {
      max-width: 300px;
    }
  }
}

.o-table-wrapper .wps-new-table.wps-recent-events-table {
  tbody td {
    width: 50%;

    .wps-link-arrow {
      gap: 4px;
      max-width: 130px;
    }

    .wps-ellipsis-parent {
      max-width: 107px;
      display: flex;
      align-items: center;
      @media (max-width: 350px) {
        max-width: 90px;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.wps-ellipsis-text--disable {
          color: #56585A;
        }
      }
    }
  }
}