body[class*="wps_visitors_page"], body[class*="wps_visitors-report_page"] {

  .wps-head-filters #visitors-filter.wp-visitors-filter--active {
    background: #404BF21A !important;
    border: 1px solid #7981F6 !important;

    .wps-head-filters & {
      border: 1px solid rgba(121, 129, 246, 1)
    }

    .filter-text {
      color: #404BF2 !important;
    }

    .wps-badge {
      min-width: 14px;
      height: 14px;
      background: #404BF21A;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dashicons-filter {
      background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTAgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02LjI1IDcuMjVWMTFMMy43NSAxMi4yNVY3LjI1TDAgMS42MjVWMC4zNzVIMTBWMS42MjVMNi4yNSA3LjI1Wk0xLjUwMjMxIDEuNjI1TDUgNi44NzE1TDguNDk3NjkgMS42MjVIMS41MDIzMVoiIGZpbGw9IiM0MDRCRjIiLz4KPC9zdmc+Cg==") no-repeat center center;
    }

    &:after {
      background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTMgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02LjQ5OTk3IDcuOTk4MTRDNi40MzQxNyA3Ljk5ODUyIDYuMzY4OTQgNy45ODU5MSA2LjMwODAyIDcuOTYxMDJDNi4yNDcxIDcuOTM2MTQgNi4xOTE2OSA3Ljg5OTQ4IDYuMTQ0OTcgNy44NTMxNEwzLjE0NDk3IDQuODUzMTRDMy4wNTA4MiA0Ljc1ODk5IDIuOTk3OTIgNC42MzEyOSAyLjk5NzkyIDQuNDk4MTRDMi45OTc5MiA0LjM2NDk5IDMuMDUwODIgNC4yMzcyOSAzLjE0NDk3IDQuMTQzMTRDMy4yMzkxMiA0LjA0ODk5IDMuMzY2ODIgMy45OTYwOSAzLjQ5OTk3IDMuOTk2MDlDMy42MzMxMiAzLjk5NjA5IDMuNzYwODIgNC4wNDg5OSAzLjg1NDk3IDQuMTQzMTRMNi40OTk5NyA2Ljc5MzE0TDkuMTQ0OTcgNC4xNDgxNEM5LjI0MDYyIDQuMDY2MjMgOS4zNjM2NiA0LjAyMzQyIDkuNDg5NSA0LjAyODI4QzkuNjE1MzMgNC4wMzMxNCA5LjczNDcgNC4wODUzMSA5LjgyMzc1IDQuMTc0MzZDOS45MTI4IDQuMjYzNDEgOS45NjQ5NiA0LjM4Mjc3IDkuOTY5ODIgNC41MDg2MUM5Ljk3NDY5IDQuNjM0NDUgOS45MzE4OCA0Ljc1NzQ5IDkuODQ5OTcgNC44NTMxNEw2Ljg0OTk3IDcuODUzMTRDNi43NTY4NCA3Ljk0NTUxIDYuNjMxMTQgNy45OTc1OSA2LjQ5OTk3IDcuOTk4MTRaIiBmaWxsPSIjNDA0QkYyIi8+Cjwvc3ZnPgo=") center center no-repeat;
    }
  }

  .wps-visitor-filter__text {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  // Disable focus TickBox
  #TB_closeWindowButton:focus .tb-close-icon {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  // Add Button
  #visitors-filter {
    cursor: pointer;
    color: #666;
    transition: 0.5s all;
    margin-top: 5px;

    .dashicons {
      vertical-align: -5px;
    }

    &:hover {
      color: #d82424;
    }
  }

  // Select2
  .select2-dropdown {
    z-index: 9999999999 !important;
  }

  .select2-container {
    width: 100% !important;
  }

  //page column
  .tbl-page-column {
    width: 220px;

    span.txt-overflow {
      display: table;
      table-layout: fixed;
      width: 150px;

      a {
        display: table-cell !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#wps-visitors-filter-form {
  padding: 10px 5px;
  table{
    width: 100%;
  }
  table.widefat {
    border: 0 !important;
    box-shadow: none !important;
  }
}

html[dir=rtl] {
  body[class*="wps_visitors_page"], body[class*="wps_visitors-report_page"] {
    #TB_ajaxContent {
      text-align: right !important;
    }
  }
}

.wps-visitor__visitors-details {
  .wps-visitor__visitors-detail--row {
    display: flex;
    justify-content: space-between;
    color: #0C0C0D;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    align-items: center;

    span.wps-link-color{
      color: #404bf2 !important;
    }

    & > div {
      display: inline-flex;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.23px;

      &.wps-browsers__flag, &.wps-os__flag, &.wps-country__flag, &.wps-ellipsis-parent {
        max-width: 160px;
        display: flex;
        gap: 6px;
        align-items: center;
        @media (max-width: 350px) {
          max-width: 130px;
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &.wps-country__flag {
        img {
          border-radius: 2px;
        }
      }

      a {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        max-width: 160px;
        @media (max-width: 350px) {
          max-width: 130px;
        }

        &.wps-visitor__username {
          img {
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &.wps-link-arrow {
          span {
            max-width: calc(100% - 15px);
          }

          &:after {
            content: "";
            background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTMgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjQxNjY3IDMuMjVWNC4zMzMzM0gyLjcwODMzVjEwLjI5MTdIOC42NjY2N1Y3LjU4MzMzSDkuNzVWMTAuODMzM0M5Ljc1IDExLjEzMjUgOS41MDc1IDExLjM3NSA5LjIwODMzIDExLjM3NUgyLjE2NjY3QzEuODY3NTEgMTEuMzc1IDEuNjI1IDExLjEzMjUgMS42MjUgMTAuODMzM1YzLjc5MTY3QzEuNjI1IDMuNDkyNTIgMS44Njc1MSAzLjI1IDIuMTY2NjcgMy4yNUg1LjQxNjY3Wk0xMS4zNzUgMS42MjVWNS45NTgzM0gxMC4yOTE3TDEwLjI5MTYgMy40NzM3MUw2LjA3MDUxIDcuNjk1NTFMNS4zMDQ0OCA2LjkyOTQ5TDkuNTI1MTUgMi43MDgzM0g3LjA0MTY3VjEuNjI1SDExLjM3NVoiIGZpbGw9IiM0MDRCRjIiLz4KPC9zdmc+Cg==) center center no-repeat;
            width: 13px;
            height: 13px;
            display: inline-flex;
            .rtl &{
              transform: rotateY(180deg);
            }
          }
        }

        span {
          color: #404bf2 !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }

    & > span {
      font-size: 13px;
      font-weight: 400;
      line-height: 15.23px;
      letter-spacing: 0.01em;
    }
  }
  .wps-visitor__visitors-detail--link{
    span.wps-link-arrow{
      display: flex !important;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      a{
        color: #404bf2 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 19px);
        &:after {
          content: "";
          background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTMgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjQxNjY3IDMuMjVWNC4zMzMzM0gyLjcwODMzVjEwLjI5MTdIOC42NjY2N1Y3LjU4MzMzSDkuNzVWMTAuODMzM0M5Ljc1IDExLjEzMjUgOS41MDc1IDExLjM3NSA5LjIwODMzIDExLjM3NUgyLjE2NjY3QzEuODY3NTEgMTEuMzc1IDEuNjI1IDExLjEzMjUgMS42MjUgMTAuODMzM1YzLjc5MTY3QzEuNjI1IDMuNDkyNTIgMS44Njc1MSAzLjI1IDIuMTY2NjcgMy4yNUg1LjQxNjY3Wk0xMS4zNzUgMS42MjVWNS45NTgzM0gxMC4yOTE3TDEwLjI5MTYgMy40NzM3MUw2LjA3MDUxIDcuNjk1NTFMNS4zMDQ0OCA2LjkyOTQ5TDkuNTI1MTUgMi43MDgzM0g3LjA0MTY3VjEuNjI1SDExLjM3NVoiIGZpbGw9IiM0MDRCRjIiLz4KPC9zdmc+Cg==) center center no-repeat;
          width: 13px;
          height: 13px;
          display: inline-flex;
        }
      }
    }
  }
}

.o-table-wrapper .wps-new-table.wps-recent-views-table {
  tbody td {
    width: 50%;

    a.wps-link-arrow {
      max-width: 300px;
    }
  }
}

.o-table-wrapper .wps-new-table.wps-recent-events-table {
  tbody td {
    width: 50%;

    .wps-link-arrow {
      gap: 4px;
      max-width: 130px;
    }

    .wps-ellipsis-parent {
      max-width: 107px;
      display: flex;
      align-items: center;
      @media (max-width: 350px) {
        max-width: 90px;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.wps-ellipsis-text--disable {
          color: #56585A;
        }
      }
    }
  }
}