$primary-color: #404BF2;
$primary-medium-color: #9DA3F7;
$primary-light-color: #F0F5FF;

$dark-color: #3C4043;
$dark-secondary-color: #5F6368;
$dark-tertiary-color: #7D8083;
$low-color: #56585A;

$light-color: #DADCE0;
$light-secondary-color: #EEEFF1;
$light-tertiary-color: #FAFAFB;

$black-color: #000;
$dim-black-color: #0C0C0D;
$white-color: #fff;

$service-green-color: #196140;
$service-green-medium-color: #ADCABD;
$service-green-light-color: #E9F5F0;

$font-base: 'Roboto';
