.wps-wrap {
  .postbox .inside {
    padding: 0;
    margin-bottom: 32px;
  }

  .postbox-header .handle-actions {
    margin-top: 8px;
  }

  .wps-ph-col-12 {
    width: 100%;
    max-width: 100%;

    .wps-ph-picture, .wps-ph-row {
       max-width: 100%;
    }
  }
}

.wps-wrap .postbox-container {
  border-radius: 8px;
  overflow: hidden;

  .postbox {
    border-radius: 8px;
    border: 1px solid $light-color;
  }
}
