#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-comparison-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget,
.wps-wrap {
  .postbox .inside {
    padding: 0;
    margin-bottom: 32px;
  }

  .postbox-header .handle-actions {
    margin-top: 8px;
  }

  .postbox-header.postbox-toggle {
    cursor: pointer;

    .hndle {
      cursor: pointer !important;
    }

    h2 {
      margin: 0;
    }
  }

  .wps-ph-col-12 {
    width: 100%;
    max-width: 100%;

    .wps-ph-picture, .wps-ph-row {
      max-width: 100%;
    }
  }
}

.wps-wrap {
  .postbox-container {
    border-radius: 8px;
    overflow: visible;

    .postbox {
      border-radius: 8px;
      border: 1px solid $light-color;
    }
  }
}

#wp_statistics_editor_meta_box,
#wp-statistics-comparison-widget,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget {
  &.postbox .inside {
    padding: 0;
    margin-bottom: 32px;
  }
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-comparison-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget {
  font-family: $font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow: visible;

  &.postbox.has-focus {
    z-index: 9999;
  }

  .postbox-header {

    h2 {
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      line-height: 1.4;
    }
  }

  button {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  table {
    tr td, tr th {
      white-space: nowrap;
    }
  }

  .handle-actions {
    margin-top: 0 !important;
  }
}

.inside .wp-statistics-widget {
  box-shadow: none;
  margin: 2em 0;
}

.wps_page .inside {
  font-family: $font-base !important;
}

#wp-statistics-comparison-widget {
  overflow: hidden !important;
}

.wps_page {

  .wrap:not(.wps-wrap) {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 20px;
  }
}

