@use 'variables' as *;
@mixin margin($size: 'base') {
    margin: map-get($spacing, $size);
}

@mixin margin-x($size: 'base') {
    margin-left: map-get($spacing, $size);
    margin-right: map-get($spacing, $size);
}

@mixin margin-y($size: 'base') {
    margin-top: map-get($spacing, $size);
    margin-bottom: map-get($spacing, $size);
}

@mixin margin-top($size: 'base') {
    margin-top: map-get($spacing, $size);
}

@mixin margin-right($size: 'base') {
    margin-right: map-get($spacing, $size);
}

@mixin margin-bottom($size: 'base') {
    margin-bottom: map-get($spacing, $size);
}

@mixin margin-left($size: 'base') {
    margin-left: map-get($spacing, $size);
}

@mixin padding($size: 'base') {
    padding: map-get($spacing, $size);
}

@mixin padding-x($size: 'base') {
    padding-left: map-get($spacing, $size);
    padding-right: map-get($spacing, $size);
}

@mixin padding-y($size: 'base') {
    padding-top: map-get($spacing, $size);
    padding-bottom: map-get($spacing, $size);
}

@mixin gap($size: 'base') {
    gap: map-get($spacing, $size);
}

@mixin radius($size: 'base') {
    border-radius: map-get($border-radius, $size);
}