@use 'variables' as *;
@use 'spacing' as space;
@use 'colors' as color;
@mixin text-base {
    font-size: map-get($font-sizes, 'base');
    line-height: 1.5;
    @include color.text-color('text.secondary');
}

@mixin text-lg {
    font-size: map-get($font-sizes, 'lg');
    line-height: 1.5;
    @include color.text-color('text.primary');
}

@mixin text-bold {
    font-weight: map-get($font-weights, 'bold');
    @include color.text-color('text.primary');
}

@mixin text-medium {
    font-weight: map-get($font-weights, 'medium');
    @include color.text-color('text.primary');
}

@mixin heading-large {
    font-size: map-get($font-sizes, 'xl');
    font-weight: map-get($font-weights, 'medium');
    line-height: 1.3;
    @include space.margin-top('base');
    @include space.margin-bottom('lg');
}