@use '../../../../../scss/core/typography' as type;
@use '../../../../../scss/core/layout' as layout;
@use '../../../../../scss/core/spacing' as space;
@use '../../../../../scss/core/colors' as color;
@use '../../../../../scss/core/components' as comp;
@use '../../../../../scss/core/interactive' as interact;

.heading {
    @include type.heading-large;
}

.text {
    @include type.text-lg;
    @include space.margin-bottom('lg');
}

.bold {
    @include type.text-medium;
}

.infoBox {
    @include comp.info-box;
    @include layout.flex;
    @include layout.justify-center;
    @include space.gap('sm');
    @include space.margin-y('xl');
}

.infoIcon {
    width: 20px;
    height: 20px;
    @include space.margin-top('xs');
}

.infoContent {
    @include layout.flex-column;
    @include space.gap('base');
}

.infoText {
    @include type.text-base;
    margin: 0;
}

.infoLink {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.description {
    @include type.text-base;
}

.subHeading {
    @include type.heading-large;
    @include space.margin-top('3xl');
}

.cardContainer {
    @include layout.flex-column;
    @include space.gap('md');
}

.cardHeader {
    @include layout.flex-between;
    width: 100%;
}

.cardTitle {
    @include type.text-base;
    @include type.text-bold;
    margin: 0;
}

.cardDescription {
    @include type.text-base;
    @include space.margin-bottom;
}

.cardList {
    @include comp.list-base;
}

.hybridInputContainer {
    @include layout.flex;
    @include layout.items-start;
    @include layout.align-center;
    @include space.gap('base');
    p {
        margin: 0;
    }
}

.hybridInput {
    outline: none;
    @include color.border-color('border');
    border-style: solid;
    border-width: 1px;
    width: 46px;
    height: 32px;
    @include space.radius('sm');
    padding: 0 7px;
    text-align: center;
    &:focus {
        @include color.border-color('primary');
    }
}

.footer {
    @include layout.justify-end;
    width: 100%;
    @include space.padding('3xl');
    @include color.bg-color('background');
}

.nextButton {
    @include interact.button-primary;
}

.backLink {
    @include interact.clickable;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;

    &:hover {
        text-decoration: none;
    }
}

.list {
    @include comp.list-base;
}

.radioGroup {
    @include layout.flex-column;
    @include space.gap('sm');
}

.radioLabel {
    @include type.text-base;
    @include space.margin-top('xs');
}

.radioContainer {
    @include layout.flex-column;
    @include space.gap('base');
}

.radioCard {
    @include comp.card-container;
    @include interact.clickable;
}

.radioCardSelected {
    @include color.border-color('primary');
}

.radioCardBody {
    padding: 0;
}

.title {
    @include type.text-base;
    @include type.text-bold;
    margin: 0;
}

.radioImage {
    width: 17px;
    height: 17px;
}

.infoContainer {
    @include layout.flex-column;
    @include space.gap('md');
}