@use '../core/typography' as type;
@use '../core/spacing' as space;
@use '../core/colors' as color;
@use '../core/layout' as layout;
.wps-wrap {
    .confirmation-info {
        &__icon {
            width: 20px;
            height: 20px;
            @include space.margin-right('xs');
        }
        &__text {
            @include type.text-base;
            @include space.margin-y;
            @include color.text-color('text.secondary');
            line-height: 1.5;
            strong {
                @include type.text-medium;
                @include space.margin-right('xs');
            }
        }
    }
}