@use '../core/components' as comp;
@use '../core/interactive' as interact;
@use '../core/typography' as type;
@use '../core/spacing' as space;
@use '../core/colors' as color;
@use '../core/layout' as layout;
.wps-wrap {
    .migration-card {
        @include comp.card-container;
        @include interact.clickable;
        &--selected {
            @include color.border-color('primary');
        }
        &__body {
            padding: 0;
        }
        &__header {
            @include layout.flex-between-center;
            width: 100%;
        }
        &__title {
            @include type.text-base;
            @include type.text-bold;
            @include space.margin-bottom('sm');
        }
        &__radio-image {
            width: 17px;
            height: 17px;
        }
        &__description {
            @include type.text-base;
        }
    }
}