.wps-center {
    text-align: center;
}

#wps_about_postbox #about_postbox img {
    max-width: 170px;
    margin: 0 0 9px 0;
}

.column-wp-statistics {
    width: 52px;
}

.wp-statistics-plugins .widefat > * {
    float: left;
}

.wp-statistics-plugins .widefat .plugin-card .desc, .wp-statistics-plugins .widefat .plugin-card .name {
    margin-right: 0;
}

.rtl .wp-statistics-plugins .widefat > * {
    float: right;
}

.rtl .wp-statistics-plugins .widefat .plugin-card .desc, .rtl .wp-statistics-plugins .widefat .plugin-card .name {
    margin-right: 148px;
    margin-left: 0;
}

.wp-statistics-plugins .widefat .plugin-card-bottom {
    float: initial;
}

.wp-statistics-plugins .widefat .column-downloaded p {
    margin: 2px 0 0px 0;
}

.wp-statistics-plugins .column-price {
    display: inline;
    margin: 0 8px;
    font-size: 15px;
    color: #589616;
}

/** Setting page **/
.wp-statistics-settings .widefat {
    float: left;
}

.wp-statistics-settings .postbox-container {
    margin-top: 51px;
}

.wp-statistics-settings #tabs {
    margin-top: 18px;
}

.wp-statistics-settings .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding-right: 8px;
    padding-left: 8px;
}

.wp-statistics-settings #tabs .ui-widget-content {
    background-color: white;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.wp-statistics-settings .ui-tabs .ui-tabs-nav {
    padding: 0;
}

.wp-statistics-settings .ui-tabs .ui-tabs-nav li {
    border-color: #dadada;
}

.wp-statistics-settings .ui-widget-header {
    border-bottom-color: #dadada;
}

.rtl .wp-statistics-settings .widefat {
    float: right;
}

.wp-statistics-settings .ui-widget-content .ui-tabs-panel a {
    color: #0073aa;
}

@media only screen and (max-width: 1482px) {
    .wp-statistics-settings .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 12px;
    }

    .wp-statistics-settings .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin-right: 5px;
    }

    .wp-statistics-settings .ui-tabs .ui-tabs-nav li {
        margin-right: 5px;
    }

    .wp-statistics-settings .postbox-container {
        margin-top: 11px;
    }
}

.note {
    color: #FF0000;
    font-size: 11px !important;
    font-weight: bold;
}

.data {
    border-top: 1px solid #CFCDCD;
    font-size: 11px !important;
    padding: 5px 0 0;
}

.data code {
    border-radius: 2px 2px 2px 2px;
}