#wpadminbar #wp-admin-bar-wp-statistic-menu .ab-icon:before {
    content: '\f184';
    top: 2px;
}

.wp-statistics-opt-out {
    width: 100%;
    background: #e2e2e2;
    border-top: 5px solid #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px 5px;
    z-index: 9999;
}
