@media print {
    #wpadminbar,
    #adminmenuback,
    #adminmenuwrap,
    #show-settings-link {
        display: none;
    }

    #wpcontent, #wpfooter {
        margin-left: 0px;
    }
}

#wps-postbox-container-1 {
    width: 30%;
    float: left;
}

#wps-postbox-container-2 {
    margin: 0 0 0 1%;
    width: 68%;
    float: right;
}

@media screen and (max-width: 960px) {
    #wps-postbox-container-1 {
        width: 35%;
    }

    #wps-postbox-container-2 {
        margin: 0 0 0 1%;
        width: 63%;
    }
}

@media screen and (max-width: 758px) {
    #wps-postbox-container-1 {
        width: 100%;
    }

    #wps-postbox-container-2 {
        margin: 0 0 0 1%;
        width: 100%;
    }
}

@media screen and (max-width: 524px) {
    #wps-postbox-container-1 {
        width: 100%;
    }

    #wps-postbox-container-2 {
        margin: 0 0 0 1%;
        width: 100%;
    }
}

#last-log {
    width: 100%;
    direction: ltr;
}

#wps-postbox-container-1 a, #wps-postbox-container-2 a, #last-log a {
    text-decoration: none;
}

#summary-stats {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px none;
    margin: 0 0 10px;
}

#summary-stats tr:first-child th {
    border-top: 0 none;
}

#summary-stats span {
    color: #21759B !important;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 21px;
}

#post-stats {
    border: none;
}

#th-colspan {
    text-align: center;
}

#th-colspan span {
    color: #459605 !important;
    font-size: 30px;
}

#last-visitor tr {
    text-align: center;
}

#last-visitor tr:first-child {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    text-align: center;
}

#last-search tr {
    text-align: center;
}

#last-search tr:first-child {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    text-align: center;
}

#last-referrer tr {
    text-align: left;
}

#last-referrer tr:first-child {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    text-align: center;
}

.th-center {
    text-align: center !important;
}

.td-align {
    text-align: left;
}

.td-url {
    color: #009936 !important;
    direction: ltr;
    font-size: 10px !important;
    text-align: left;
    white-space: nowrap;
}

#map_canvas {
    direction: ltr;
    height: 300px;
    width: 100%;
}

.map-html-marker {
    max-height: 170px;
    width: 200px;
}

.map-html-marker p {
    border-bottom: 1px dashed #EFEFEF;
    font-size: 10px;
    margin: 2px 0;
    padding: 3px 0;
    text-align: left;
}

.map-html-marker p:last-child {
    border-bottom: 0 none;
}

.log-latest {
}

.log-item {
    border-bottom: 1px solid #efeeee;
    border-top: 1px solid #FFFFFF;
    min-height: 46px;
    padding: 3px 7px;
}

.log-item:hover {
    background: none repeat scroll 0 0 #f7f7f7;
}

.show-map {
    float: left;
}

.log-referred {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

.log-page-title {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.log-ip {
    direction: ltr;
    float: right;
    font-size: 10px;
    margin-bottom: 5px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.log-tools {
    float: left;
    margin: 0 2px;
}

.log-agent {
    float: left;
}

.log-url {
    direction: ltr;
    float: left;
    font-size: 10px;
    margin: 0 0 0 2px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log-url img {
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox {
    overflow: hidden;
}

#time_zone a {
    font-size: 11px;
    text-decoration: none;
}

#visits-log {
    direction: ltr;
    height: 290px;
    width: 100%;
}

#search-engine-log {
    direction: ltr;
}

#platform-log {
    direction: ltr;
}

#visits-stats {
    direction: ltr;
}

#exclusion-stats {
    direction: ltr;
}

#search-stats {
    direction: ltr;
}

#page-stats {
    direction: ltr;
}

#about-links {
    margin: 0 0 10px;
}

#about-links p {
    display: inline;
    font-size: 11px;
    margin: 0 2px;
}

#about-links a {
}

.left-div {
    float: left;
}

.right-div {
    float: right;
}

#donate-text {
    float: left;
}

#donate-button {
    float: right;
    margin: 12px 0 0;
}

.jqvmap-label {
    z-index: 10000;
}

.ui-sortable {
    min-height: 100px;
}

.table-stats tr, .table-stats td {
    border-bottom: 1px solid #efeeee;
    background-color: white;
}

.table-stats tr:first-child td {
    border: 0px none;
    text-align: left;
}

.rtl .table-stats tr, .rtl .table-stats td {
    text-align: right !important;
}

.table-stats {
    border: 0px none !important;
}

.wp-statistics-sub-fullwidth {
    width: 100%;
}

.button-link.wps-more,
.button-link.wps-refresh {
    text-decoration: none !important;
}
