#left-log {
    margin: 0 1% 0 0;
}

.td-align {
    text-align: right;
}

#donate-button {
}

.log-referred {
    float: right;
}

.log-ip {
    float: left;
}

#last-log {
    direction: rtl;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: tahoma, serif;
}

.ui-tabs .ui-tabs-nav li {
    float: right;
}

.jqvmap-label {
    direction: ltr;
}

.jqplot-table-legend, .jqplot-highlighter-tooltip {
    direction: rtl;
    font-family: tahoma, serif;
}

#donate-text {
    float: right;
}

#donate-button {
    float: left;
}

.left-div {
    float: right;
}

.right-div {
    float: left;
}

/** Welcome page **/
.wp-statistics-welcome .normal-section .left {
    float: right;
    text-align: right;
}

.wp-statistics-welcome .normal-section h2 {
    text-align: right;
}

.wp-statistics-welcome .normal-section .right {
    float: left;
}

/** Travod **/
.wp-statistics-travod .header p {
    margin-left: 17px;
    margin-right: 0;
}

.wp-statistics-travod .header .left {
    float: right;
}

.wp-statistics-travod .header .right {
    float: left;
}