.note {
    color: #FF0000;
    font-size: 11px !important;
    font-weight: bold;
}

.data {
    border-top: 1px solid #CFCDCD;
    font-size: 11px !important;
    padding: 5px 0 0;
}

.data code {
    border-radius: 2px 2px 2px 2px;
}