// Define
$image_path: "../images";

// Settings
@use "settings/settings";

// Global
@use "component/global";

// Elements
@use "elements/elements";

// Generic
@use "generic/generic";

// Objects
@use "objects/objects";

// WordPress Admin Component
@use "component/print";
@use "component/admin-bar";
@use "component/pagination";
@use "component/editor";
@use "component/meta-box";
@use "component/btn-group";
@use "component/placeholder/placeholder-loading";
@use "component/badge";
@use "component/table";
@use "component/live";
@use "component/footer";
@use "component/chart";
@use "component/about";
@use "component/jqvmap";
@use "component/search";
@use "component/filters-modal";
@use "component/premium-modal";
@use "component/skeleton";
@use "component/modal";
@use "component/spinner";
@use "component/notifications";
@use "component/glance";

// WordPress Admin Page
@use "pages/setting";
@use "pages/referrals";
@use "pages/add-ons";
@use "pages/admin";
@use "pages/overview";
@use "pages/authors";
@use "pages/content";
@use "pages/category";
@use "pages/browsers";
@use "pages/visitors";
@use "pages/privacy";
@use "pages/lock-page";
@use "pages/tracker";
@use "pages/help-center";

// Load WordPress Meta Box
@use "meta-box/about" as about2;
@use "meta-box/summary";
@use "meta-box/map";
@use "meta-box/referring";
@use "meta-box/post-edit-metabox";

// UI styles
@use "component/ui.admin";

// PLugins
@import "plugin/tooltipster.bundle.css";