// Define
$image_path: "../images";

// Settings
@import "settings/settings";

// Global
@import "component/global";

// Elements
@import "elements/elements";

// Generic
@import "generic/generic";

// Objects
@import "objects/objects";

// WordPress Admin Component
@import "component/print";
@import "component/admin-bar";
@import "component/pagination";
@import "component/editor";
@import "component/meta-box";
@import "component/btn-group";
@import "component/placeholder/placeholder-loading";
@import "component/badge";
@import "component/table";
@import "component/live";
@import "component/footer";
@import "component/chart";
@import "component/about";
@import "component/jqvmap";
@import "component/search";
@import "component/filters-modal";

// WordPress Admin Page
@import "pages/setting";
@import "pages/add-one";
@import "pages/welcome";
@import "pages/admin";
@import "pages/overview";
@import "pages/browsers";
@import "pages/visitors";
@import "pages/pages";

// Load WordPress Meta Box
@import "meta-box/about";
@import "meta-box/summary";
@import "meta-box/map";
@import "meta-box/referring";
@import "meta-box/country";
@import "meta-box/post-edit-metabox";

// UI styles
@import "component/ui.admin";
