#left-log {
  margin: 0 1% 0 0;
}

.td-align {
  text-align: right;
}

#donate-button {
}

.log-referred {
  float: right;
}

.log-ip {
  float: left;
}

#wps-big-postbox {
  direction: rtl;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: tahoma, serif;
}

.ui-tabs .ui-tabs-nav li {
  float: right;
}

.jqvmap-label {
  direction: ltr;
}

.jqplot-table-legend, .jqplot-highlighter-tooltip {
  direction: rtl;
  font-family: tahoma, serif;
}

#donate-text {
  float: right;
}

#donate-button {
  float: left;
}

.left-div {
  float: right;
}

.right-div {
  float: left;
}

/** Travod **/
.wp-statistics-travod .header p {
  margin-left: 17px;
  margin-right: 0;
}

.wp-statistics-travod .header .left {
  float: right;
}

.wp-statistics-travod .header .right {
  float: left;
}

.wps-wrap h2, .wps-wrap h3 {
  direction: rtl;
}

.wps-head-filters {
  right: unset;
  left: 24px;
  flex-direction: row;
}

.wps_page_title {
  margin-right: 0;
  margin-left: 5px;
}

.wps-wrap table.widefat {
  direction: rtl;
}

.rtl .wp-statistics-settings .widefat {
  float: right;
}


.rtl .wp-statistics-plugins .widefat > * {
  float: right;
}

.rtl .wp-statistics-plugins .widefat  .button{
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 170%;
  padding: 7px 16px;
  border-radius: 4px;
}

.rtl .wp-statistics-plugins .widefat .plugin-card .desc>p {
    margin-left: 0;
}

.rtl .wp-statistics-plugins .widefat .plugin-card .desc,
.rtl .wp-statistics-plugins .widefat .plugin-card .name {
  margin-right: 148px;
  margin-left: 0;
}


.rtl .wp-statistics-plugins .plugin-card .cover-ribbon {
  right: -8px;
}

.rtl .wp-statistics-plugins .plugin-card .cover-ribbon .cover-ribbon-inside {
  transform: rotate(45deg);
  right: -34px;
  left: auto;
}

.rtl .wp-statistics-plugins .plugin-card .cover-ribbon .cover-ribbon-inside:before {
  left: -1px;
}

.rtl .wp-statistics-plugins .plugin-card .cover-ribbon .cover-ribbon-inside:after {
  right: -1px;
}

.rtl.wps_page {
  .wps-mobileMenuContent{
    left:0;
    right: unset;
  }
  #feedback-bird-app{
    float: none;
    margin: 0;
  }
  #wps-menu-toggle:checked~.wps-mobileMenuContent .c-fbb-btn--default>span:before{
    margin-right: unset;
    margin-left: 10px;
  }
  #wps-menu-toggle:checked~.wps-mobileMenuContent>a .icon{
    margin-right:unset;
    margin-left: 10px;
  }
  .daterangepicker select.yearselect,.daterangepicker select.monthselect{
    text-align: right;
  }
  #wps-menu-toggle:checked~.wps-mobileMenuContent>a.addons:after{
    margin-left: unset;
    margin-right: 4px;
  }
  .wps-today-datepicker{
    right: unset;
    left: 23px;
    div:before{
      right: 16px;
      left: unset;
    }
    div:after{
      left: 21px;
      right: unset;
    }
  }
  .wps-head-filters .js-date-range-picker-btn:after{
    margin-left: unset;
    margin-right: 3px;
    margin-top: 2px;
  }
  .wps-head-filters #visitors-filter{
    margin-right: unset;
    margin-left: 12px;
  }
  .wps-adminHeader .wps-adminHeader__side {
    left: 20px;
    right: unset;
  }

  .wps-adminHeader .wps-adminHeader__logo {
    margin-right: unset;
    margin-left: 50px;
  }

  .wps-adminHeader .wps-adminHeader__menu a span.icon {
    margin-right: unset;
    margin-left: 7px;
  }

  .wps-adminHeader .wps-adminHeader__menu a span.badge {
    margin-right: 10px;
    margin-left: unset;
    &:before{
      margin-left: unset;
      margin-right: -15%;
    }
  }

  .wps-adminHeader a.wps-adminHeader__bundle:before, .wps-adminHeader a.wps-adminHeader__bundle:after {
    margin-right: unset;
    margin-left: 3px;
  }

  .postbox-header .wps-tooltip {
    margin-left: unset;
    margin-right: 4px;
  }

  .wps-adminHeader a.wps-adminHeader__bundle:after {
    transform: rotate(180deg);
  }

  &.toplevel_page_wps_overview_page #screen-meta-links {
    left: 0;
    right: unset;
  }
}

.rtl {
  @import "rtl/additional-rtl";
  @import "rtl/metabox-rtl";
  @import "rtl/table-rtl";
  @import "rtl/components-rtl";
}