.o-wrap {
  padding: 12px 32px;
}

.o-wrap--no-data {
  padding: 0 24px!important;
}

.wps-wrap--no-content {
  padding: 0 24px!important;
}

.rtl {
  .o-wrap--no-data {
    padding: 32px !important;
    text-align: center;

    p {
      margin: 0 !important;
    }
  }
}