.o-wrap {
  padding: 12px 32px;
}

.o-wrap--no-data {
  padding: 13px 24px 0!important;
}

#overview-widgets .o-wrap--no-data , #overview-widgets .wps-wrap--no-content{
  padding: 0 24px!important;
}

.wps-wrap--no-content {
  padding: 13px 24px 0!important;
}

.rtl {
  .o-wrap--no-data {
    padding: 32px !important;
    text-align: center;

    p {
      margin: 0 !important;
    }
  }
}

#overview-widgets{
  .o-wrap{
    padding: 12px 24px !important;
    padding-top: 0 !important;
    .wps-postbox-chart--data {
      margin-top: 0 !important;
    }
  }
   #daily_traffic_trend{
    #wps_daily_traffic_trend_meta_chart, #wps_referrals_search_engines_meta_chart{
      min-height:300px
    }
  }
}