.wps-lock-page{

  &__main{
    .wp-statistics-notice{
      display: none!important;
    }
  }

  &--container{
    width: 913px;
    padding: 0 24px;
    max-width: 100%;
    margin: 49px auto 20px;
    box-sizing: border-box;
  }
  &__head{
    color: #0C0C0D;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    &--second{
      margin-top: 48px;
    }

    @media (min-width: 500px) {
      line-height: 24px;
    }
  }
  &__description{
    color: #56585A;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
  &__actions{
    margin-top: 32px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    .wps-lock-page__action{
      margin: 0;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &--learn-more{
        border: 1px solid #DADCE0;
        color: #56585a;
        background: #fff;

        &:hover{
          background:#FAFAFB;
          color:#56585A
        }
       }
      &--premium{
        border: 1px solid #404bf2;
        background-color: #404BF2;
        color: #fff ;
        &:after {
          content: "";
          width: 16px;
          min-width: 16px;
          height: 16px;
          background: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE3IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTcgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05LjI4MTMgOC4wMDA0N0w1Ljk4MTQ1IDQuNzAwNjJMNi45MjQyNiAzLjc1NzgxTDExLjE2NjkgOC4wMDA0N0w2LjkyNDI2IDEyLjI0MzFMNS45ODE0NSAxMS4zMDAzTDkuMjgxMyA4LjAwMDQ3WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
          display: inline-block;

          .rtl &{
            transform: rotate(180deg);
          }
        }

        &:hover{
          border: 1px solid #5100FD;
          background-color: #5100FD;
          color: #fff ;
        }
      }
    }
  }
  .wps-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 48px;

    &__slide {
      display: none;
      width: 100%;

      img{
        max-width: 99%;
        height: auto;
        user-select: none;
        -webkit-user-drag: none;
        border: 1px solid #A9AAAE;
        border-radius: 8px;
      }
    }

    &__dots {
      text-align: center;
      margin-top: 24px;
    }

    &__dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 4px;
      border-radius: 50%;
      background-color: #DADCE0;
      cursor: pointer;

      &.active {
        background-color: #7981F6;
      }
    }
  }

  .wps-notice-settings ,.wps-premium-feature--premium-user {
    margin-bottom: 48px;
  }
}



