.wps-card {
  .wps-meta-traffic-summary {
    margin-top: 16px;

    .c-live {
      margin-right: -24px;
      margin-left: -24px;
    }
  }
}

.wps-meta-traffic-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .c-footer {
  .c-footer {
    display: none;
  }
  }


  .diffs__change {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 16px;

    .diffs__change__direction {
      padding: 2px 4px;
      border-radius: 2px;
      display: inline-flex;
      gap: 4px;
      position: relative;
      align-items: center;
      font-size: 12px !important;
      color: #56585A;
      background: #A9AAAE1A;
      box-sizing: border-box;
      height: 16px;
    }

    &.minus .diffs__change__direction,
    &.down .diffs__change__direction {
      color: #D54037;
      background: #D540370D;

      &:before {
        content: '';
        width: 6px;
        min-width: 6px;
        height: 3px;
        display: inline-flex;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNiA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC4xMzY2NjIgMS4wNTE0N0wxLjUxMjgzIDIuNDI3NjNMMi4zNTMxIDMuMjcyMTlDMi43MDg5MyAzLjYyODAyIDMuMjg3NjkgMy42MjgwMiAzLjY0MzUyIDMuMjcyMTlMNS44NjQyNSAxLjA1MTQ2QzYuMTU1NzcgMC43NTk5NDEgNS45NDU3IDAuMjYyNjM1IDUuNTM4NDMgMC4yNjI2MzZMMy4xMzMzNiAwLjI2MjYzNkwwLjQ2MjQ4MyAwLjI2MjYzNkMwLjA1MDkxOTcgMC4yNjI2MzYgLTAuMTU0ODYyIDAuNzU5OTQxIDAuMTM2NjYyIDEuMDUxNDdaIiBmaWxsPSIjRDU0MDM3Ii8+Cjwvc3ZnPgo=) center center no-repeat;
      }
    }

    &.plus .diffs__change__direction,
    &.up .diffs__change__direction {
      color: #196140;
      background: #1961400D;

      &:before {
        content: '';
        width: 6px;
        min-width: 6px;
        height: 3px;
        display: inline-flex;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNiA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS44NjMzNCAyLjY3ODExTDQuNDg3MTcgMS40MTgwNkwzLjY0NjkgMC42NDQ3NDhDMy4yOTEwNyAwLjMxODkzOCAyLjcxMjMxIDAuMzE4OTM4IDIuMzU2NDggMC42NDQ3NDhMMC4xMzU3NTMgMi42NzgxMUMtMC4xNTU3NzEgMi45NDUwNCAwLjA1NDI5NzcgMy40MDAzOSAwLjQ2MTU3NCAzLjQwMDM5SDIuODY2NjRINS41Mzc1MkM1Ljk0OTA4IDMuNDAwMzkgNi4xNTQ4NiAyLjk0NTA0IDUuODYzMzQgMi42NzgxMVoiIGZpbGw9IiMxOTYxNDAiLz4KPC9zdmc+Cg==) center center no-repeat;
      }
    }
  }

  .wps--no-data__image {
    display: none !important;
  }

  .o-table-wrapper .o-table--wps-summary-stats{
    thead tr th{
      padding: 0 12px 12px !important;
    }

    tbody tr td{
      box-sizing: border-box;
      line-height: 22px;

      &:nth-child(2){
        padding-left: 12px !important;
        padding-right: 0 !important;
      }
    }

    tbody , thead {
      tr {
        td ,th {
          &:first-child {
            padding-left: 24px !important;
            white-space: nowrap;

            .rtl & {
              padding-left: 12px !important;
              padding-right: 24px !important;
            }
          }

          &:last-child {
            padding-right: 24px !important;
            padding-left: 12px !important;

            .rtl & {
              padding-left: 24px !important;
              padding-right: 12px !important;
            }
          }
        }
      }
    }
  }


  tbody {

    tr {
      th {
        background: #FAFAFB;
        border-bottom: 1px solid #EEEFF1;
        font-weight: 500;
        font-size: 12px;
        color: #56585A;
      }

      &:nth-child(even) td {
        background-color: #fff !important;
      }

      &:last-child td {
        border-bottom: none !important;
      }

      td {
        border-bottom: 1px solid #EEEFF1;

        .wps-tooltip-icon.info {
          width: 10px;
          height: 10px;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgMy4yMTI4OVY2LjAyNTM5IiBzdHJva2U9IiM1NjU3NTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8Y2lyY2xlIGN4PSI2IiBjeT0iNy40MzE2NCIgcj0iMC40Njg3NSIgZmlsbD0iIzU2NTc1OSIvPgo8cGF0aCBkPSJNMTAuNTkzOCA1LjQwMDM5QzEwLjU5MzggMi44NjMzMyA4LjUzNzA2IDAuODA2NjQxIDYgMC44MDY2NDFDMy40NjI5NCAwLjgwNjY0MSAxLjQwNjI1IDIuODYzMzMgMS40MDYyNSA1LjQwMDM5QzEuNDA2MjUgNy45Mzc0NSAzLjQ2Mjk0IDkuOTk0MTQgNiA5Ljk5NDE0QzguNTM3MDYgOS45OTQxNCAxMC41OTM4IDcuOTM3NDUgMTAuNTkzOCA1LjQwMDM5WiIgc3Ryb2tlPSIjNTY1NzU5IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==")
        }

        &:first-child {
          color: #0C0C0D;
          font-weight: 400;
          font-size: 13px;
        }

        &:nth-child(2), &:nth-child(3) {
          div {
            display: flex;
            justify-content: flex-start;
            gap: 8px;
          }

          a span {
            font-weight: 400;
            font-size: 16px;
          }
        }

        &:nth-child(3) {
          div {
            justify-content: flex-end;
          }
        }

      }
    }
  }


  @keyframes pulse-animation {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(77, 187, 130, 0.5);
    }

    70% {
      transform: scale(0.8);
      box-shadow: 0 0 0 10px rgba(77, 187, 130, 0);
    }

    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(77, 187, 130, 0);
    }
  }

  .c-live {
    position: relative;
    min-height: 32px;
    border: none;
    margin: 0;
    padding: 8px 24px;
    display: flex;
    color: #17593B;
    background: linear-gradient(90deg, rgba(25, 97, 64, 0.04) 0%, rgba(25, 97, 64, 0) 100%);
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    & > div {
      display: flex;
      align-items: center;
    }

    .rtl & {
      padding: 8px 24px;
    }


    &__status {
      margin-top: 2px;
      display: inline-block;
      position: relative;
      width: 5.92px;
      height: 5.92px;
      margin-right: 11px;

      .rtl & {
        margin-left: 11px;
        margin-right: 0;
      }

      &::before {
        margin-right: 16px;
        width: 5.92px;
        height: 5.92px;
        border-radius: 4px;
        background-color: #17593B;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        display: inline-block;
      }

      &::after {
        width: 5.92px;
        height: 5.92px;
        left: 0;
        top: 0;
        content: '';
        display: inline-block;
        border-radius: 4px;
        position: absolute;
        animation: pulse-animation 1.6s infinite;
        background: #ADCABD;
        box-shadow: 0 0 0 0 #ADCABD;
        z-index: 1;
      }
    }

    &__online {
      display: flex;
      gap: 16px;
      align-items: center;

      &--value {
        color: #17593B;
        font-size: 23px;
        font-weight: 400;
      }

      &--arrow {
        background-color: rgba(25,97,64,0.08);
        display: inline-block;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        padding: 0px 8px;
        gap: 10px;
        border-radius: 6px;
        background-size: 11px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgMTIgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zLjU4MzI1IDkuMjU2OTlWMS43NDQyMkMzLjU4MzI1IDEuMzg0MjMgMy45NzkyMyAxLjE2NDc2IDQuMjg0NSAxLjM1NTU2TDEwLjI5NDcgNS4xMTE5NkMxMC41ODIgNS4yOTE0NCAxMC41ODIgNS43MDk3NiAxMC4yOTQ3IDUuODg5MjlMNC4yODQ1IDkuNjQ1NjVDMy45NzkyMyA5LjgzNjQ2IDMuNTgzMjUgOS42MTcwMSAzLjU4MzI1IDkuMjU2OTlaIiBmaWxsPSIjMTk2MTQwIiBmaWxsLW9wYWNpdHk9IjAuOSIvPgo8L3N2Zz4K");
        transition: all 0.3s ease-in-out;

        .rtl & {
          transform: rotate(180deg);
        }

        &:hover {
          background-color: rgba(25, 97, 64, 0.1);
        }
      }
    }
  }

  .c-live__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    margin-right: 16px;

    .rtl & {
      margin-right: 0;
      margin-left: 16px;
    }
  }

  .c-live__value {
    font-weight: 600;
  }

  @media (max-width: 366px) {
    .c-live__title {
      font-size: 13px;
      margin-right: 5px;

      .rtl & {
        margin-right: unset;
        margin-left: 5px;
      }
    }
    .c-live {
      padding-left: 10px;

      .rtl & {
        padding-right: 10px;
        padding-left: 8px;
      }
    }
    .c-live__value {
      font-size: 13px;
      line-height: 18.75px;
    }
  }


  .wp-quickstats-widget__enable-email {
    padding: 12px 16px;
    border-radius: 4px;
    background: #F9FCFE;
    width: calc(100% - 16px);
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: -12px 8px -16px;


    &__desc {
      display: flex;
      gap: 12px;
      align-items: flex-start;

      span {
        width: 16px;
        height: 16px;
        display: inline-flex;
        background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE3IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTcgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNC45OTk4IDYuOTk4N1YxMC4zMzJDMTQuOTk5OCAxMi42NjU0IDEzLjY2NjUgMTMuNjY1NCAxMS42NjY1IDEzLjY2NTRINC45OTk4NEMyLjk5OTg0IDEzLjY2NTQgMS42NjY1IDEyLjY2NTQgMS42NjY1IDEwLjMzMlY1LjY2NTM2QzEuNjY2NSAzLjMzMjAzIDIuOTk5ODQgMi4zMzIwMyA0Ljk5OTg0IDIuMzMyMDNIOS42NjY1IiBzdHJva2U9IiMxNzFBNEYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNSA2TDcuMDg2NjcgNy42NjY2N0M3Ljc3MzM0IDguMjEzMzMgOC45IDguMjEzMzMgOS41ODY2NyA3LjY2NjY3TDEwLjM3MzMgNy4wNCIgc3Ryb2tlPSIjMTcxQTRGIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEzLjMzMzIgNS4zMzMzM0MxNC4yNTM2IDUuMzMzMzMgMTQuOTk5OCA0LjU4NzE0IDE0Ljk5OTggMy42NjY2N0MxNC45OTk4IDIuNzQ2MTkgMTQuMjUzNiAyIDEzLjMzMzIgMkMxMi40MTI3IDIgMTEuNjY2NSAyLjc0NjE5IDExLjY2NjUgMy42NjY2N0MxMS42NjY1IDQuNTg3MTQgMTIuNDEyNyA1LjMzMzMzIDEzLjMzMzIgNS4zMzMzM1oiIHN0cm9rZT0iIzE3MUE0RiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") center center no-repeat;
        margin-top: 3px;
      }

      div {
        p {
          margin-top: 0;
          margin-bottom: 4px;
          font-size: 14px;
          color: #171A4F;
          font-weight: 500;
          line-height: 16.41px;
        }

        a {
          font-size: 13px;
          font-weight: 400;
          line-height: 15.23px;
          text-decoration: underline;
        }
      }
    }

    &__close {
      .wp-close {
        width: 17px;
        height: 17px;
        display: inline-block;
        cursor: pointer;
        background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE4IiBoZWlnaHQ9IjE3IiB2aWV3Qm94PSIwIDAgMTggMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjgzMzI0IDcuNDk4MjhMMTIuMzM5NCAzLjk5MjE5TDEzLjM0MTEgNC45OTM5Mkw5LjgzNDk3IDguNTAwMDFMMTMuMzQxMSAxMi4wMDZMMTIuMzM5NCAxMy4wMDc4TDguODMzMjQgOS41MDE3M0w1LjMyNzE4IDEzLjAwNzhMNC4zMjU0NCAxMi4wMDZMNy44MzE1MiA4LjUwMDAxTDQuMzI1NDQgNC45OTM5Mkw1LjMyNzE4IDMuOTkyMTlMOC44MzMyNCA3LjQ5ODI4WiIgZmlsbD0iIzE3MUE0RiIgZmlsbC1vcGFjaXR5PSIwLjgiLz4KPC9zdmc+Cg==") center center no-repeat;

        &:hover {
          filter: contrast(2);
        }
      }
    }
  }

}

#dashboard-widgets-wrap #wp-statistics-quickstats-widget .wps-meta-traffic-summary {
  .o-table-wrapper .o-table--wps-summary-stats {
    thead tr th {
      padding: 9px 12px !important;
      font-weight: 500;
    }

    tbody tr td {
      padding: 12px !important;
    }
  }

  .wp-quickstats-widget__enable-email{
    margin: 16px 0;
    width: 100%;
  }
}