/**
 * WordPress Admin Meta Box
 */

/* Meta Box Loading */
.wps_loading_box {
  width: 100%;
  text-align: center;
  min-height: 65px;
  padding-top: 15px;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget,
#wp-statistics-comparison-widget,
.wps-wrap {
  #normal-sortables, #side-sortables {
    .wps-refresh {
      line-height: unset !important;
      width: auto;
      background: #F0F5FF;
      padding: 6px 8px;
      border-radius: 5px;
      height: auto;
      position: relative;
      top: -3px;
    }
  }

  #normal-sortables, #side-sortables {
    .postbox-header{
      @media(max-width: 400px) {
        padding: 10px 20px!important;
      }
    }
    .postbox-header .handlediv{
      @media(max-width: 400px) {
        margin: 0 !important;
      }
    }
    .wps-refresh {
      padding: 4px 6px !important;
      border-radius: 4px !important;

      .screen-reader-text {
        width: auto;
        height: auto;
        position: static;
        clip: auto;
        clip-path: unset;
        display: block;
        margin: 0 0 0 5px;
        line-height: 1.2;
        @media(max-width: 400px) {
          display: none !important;
        }
      }

      .wps-refresh-icon {
        position: unset !important;
        top: unset !important;
        display: block !important;
        float: left;
        margin-right: 5px !important;
        @media(max-width: 400px) {
          margin: 0!important;
        }
      }

      &:focus, &:hover {
        box-shadow: none !important;
        background: #F0F5FF;
      }
    }
  }


  .accordion-section-title::after, .handlediv, .item-edit, .postbox .handlediv.button-link, .toggle-indicator {
    color: $dim-black-color;
  }
}

#wps-postbox-container-1 {
  .wps-refresh .wps-refresh-icon {
    margin-right: 0 !important;
  }
}

.tooltipster-flat {
  .tooltipster-box {
    border-color: #222;
    background: #222;
    border-radius: 6px;
  }

  .tooltipster-arrow {
    .tooltipster-arrow-border {
      border-top-color: #222;
    }

    .tooltipster-arrow-background {
      border-top-color: #222;
    }
  }
}

.wps-tooltip {
  flex-grow: inherit;
  margin-left: 1px;
  cursor: auto;

  &:hover {
    cursor: auto;
  }
}

.wps-tooltip-icon {
  background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02Ljk5OTQzIDAuMzQzNzVDMy4zMTc0MyAwLjM0Mzc1IDAuMzMyNzY0IDMuMzI4NDIgMC4zMzI3NjQgNy4wMTA0MkMwLjMzMjc2NCAxMC42OTI0IDMuMzE3NDMgMTMuNjc3MSA2Ljk5OTQzIDEzLjY3NzFDMTAuNjgxNCAxMy42NzcxIDEzLjY2NjEgMTAuNjkyNCAxMy42NjYxIDcuMDEwNDJDMTMuNjY2MSAzLjMyODQyIDEwLjY4MTQgMC4zNDM3NSA2Ljk5OTQzIDAuMzQzNzVaTTYuOTk5NDMgMS42NzcwOEM4LjQxMzkyIDEuNjc3MDggOS43NzA0NyAyLjIzODk5IDEwLjc3MDcgMy4yMzkxOEMxMS43NzA5IDQuMjM5MzcgMTIuMzMyOCA1LjU5NTkzIDEyLjMzMjggNy4wMTA0MkMxMi4zMzI4IDguNDI0OSAxMS43NzA5IDkuNzgxNDYgMTAuNzcwNyAxMC43ODE3QzkuNzcwNDcgMTEuNzgxOCA4LjQxMzkyIDEyLjM0MzcgNi45OTk0MyAxMi4zNDM3QzUuNTg0OTQgMTIuMzQzNyA0LjIyODM5IDExLjc4MTggMy4yMjgxOSAxMC43ODE3QzIuMjI4IDkuNzgxNDYgMS42NjYxIDguNDI0OSAxLjY2NjEgNy4wMTA0MkMxLjY2NjEgNS41OTU5MyAyLjIyOCA0LjIzOTM3IDMuMjI4MTkgMy4yMzkxOEM0LjIyODM5IDIuMjM4OTkgNS41ODQ5NCAxLjY3NzA4IDYuOTk5NDMgMS42NzcwOFpNNi45OTk0MyAzLjY3NzA4QzYuODIyNjIgMy42NzcwOCA2LjY1MzA1IDMuNzQ3MzIgNi41MjgwMyAzLjg3MjM1QzYuNDAzIDMuOTk3MzcgNi4zMzI3NiA0LjE2Njk0IDYuMzMyNzYgNC4zNDM3NUM2LjMzMjc2IDQuNTIwNTYgNi40MDMgNC42OTAxMyA2LjUyODAzIDQuODE1MTVDNi42NTMwNSA0Ljk0MDE4IDYuODIyNjIgNS4wMTA0MiA2Ljk5OTQzIDUuMDEwNDJDNy4xNzYyNCA1LjAxMDQyIDcuMzQ1ODEgNC45NDAxOCA3LjQ3MDgzIDQuODE1MTVDNy41OTU4NiA0LjY5MDEzIDcuNjY2MSA0LjUyMDU2IDcuNjY2MSA0LjM0Mzc1QzcuNjY2MSA0LjE2Njk0IDcuNTk1ODYgMy45OTczNyA3LjQ3MDgzIDMuODcyMzVDNy4zNDU4MSAzLjc0NzMyIDcuMTc2MjQgMy42NzcwOCA2Ljk5OTQzIDMuNjc3MDhaTTYuMzMyNzYgNS42NzcwOEM2LjE1NTk1IDUuNjc3MDggNS45ODYzOCA1Ljc0NzMyIDUuODYxMzYgNS44NzIzNUM1LjczNjMzIDUuOTk3MzcgNS42NjYxIDYuMTY2OTQgNS42NjYxIDYuMzQzNzVDNS42NjYxIDYuNjY1MDggNS45MDU0MyA2LjkwNTA4IDYuMjA3NDMgNi45NjkwOEw1LjgxMjEgOC44ODUwOEM1LjY1NzQzIDkuNjU5MDggNi4yMTA3NiAxMC4zNDM3IDYuOTk4NzYgMTAuMzQzN0g3LjY2NTQzQzcuODQyMjQgMTAuMzQzNyA4LjAxMTgxIDEwLjI3MzUgOC4xMzY4MyAxMC4xNDg1QzguMjYxODYgMTAuMDIzNSA4LjMzMjEgOS44NTM4OSA4LjMzMjEgOS42NzcwOEM4LjMzMjEgOS41MDAyNyA4LjI2MTg2IDkuMzMwNyA4LjEzNjgzIDkuMjA1NjhDOC4wMTE4MSA5LjA4MDY1IDcuODQyMjQgOS4wMTA0MiA3LjY2NTQzIDkuMDEwNDJINy4xNDU0M0w3LjY0NTQzIDYuNDY5MDhDNy42NjU1MSA2LjM3MzE0IDcuNjYzODggNi4yNzM5MSA3LjY0MDY2IDYuMTc4NjhDNy42MTc0NCA2LjA4MzQ0IDcuNTczMjEgNS45OTQ2IDcuNTExMjEgNS45MTg2N0M3LjQ0OTIxIDUuODQyNzQgNy4zNzEwMiA1Ljc4MTY0IDcuMjgyMzUgNS43Mzk4NEM3LjE5MzY4IDUuNjk4MDQgNy4wOTY3OSA1LjY3NjU5IDYuOTk4NzYgNS42NzcwOEg2LjMzMjc2WiIgZmlsbD0iIzU2NTg1QSIvPgo8L3N2Zz4K");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  text-align: center;
  width: 13.33px;
  height: 13.33px;
}

.postbox-header {
  .wps-tooltip {
    margin-left: 4px;
    width: 13.33px;
    height: 13.33px;
  }

}


.wps-tooltip-icon.info {
  background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTAgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00Ljk5OTUxIDAuMDA3ODEyNUMyLjIzODAxIDAuMDA3ODEyNSAtMC4wMDA0ODgyODEgMi4yNDYzMSAtMC4wMDA0ODgyODEgNS4wMDc4MUMtMC4wMDA0ODgyODEgNy43NjkzMSAyLjIzODAxIDEwLjAwNzggNC45OTk1MSAxMC4wMDc4QzcuNzYxMDEgMTAuMDA3OCA5Ljk5OTUxIDcuNzY5MzEgOS45OTk1MSA1LjAwNzgxQzkuOTk5NTEgMi4yNDYzMSA3Ljc2MTAxIDAuMDA3ODEyNSA0Ljk5OTUxIDAuMDA3ODEyNVpNNC45OTk1MSAxLjAwNzgxQzYuMDYwMzggMS4wMDc4MSA3LjA3Nzc5IDEuNDI5MjQgNy44Mjc5NCAyLjE3OTM5QzguNTc4MDggMi45Mjk1MyA4Ljk5OTUxIDMuOTQ2OTUgOC45OTk1MSA1LjAwNzgxQzguOTk5NTEgNi4wNjg2OCA4LjU3ODA4IDcuMDg2MDkgNy44Mjc5NCA3LjgzNjI0QzcuMDc3NzkgOC41ODYzOSA2LjA2MDM4IDkuMDA3ODEgNC45OTk1MSA5LjAwNzgxQzMuOTM4NjUgOS4wMDc4MSAyLjkyMTIzIDguNTg2MzkgMi4xNzEwOCA3LjgzNjI0QzEuNDIwOTQgNy4wODYwOSAwLjk5OTUxMiA2LjA2ODY4IDAuOTk5NTEyIDUuMDA3ODFDMC45OTk1MTIgMy45NDY5NSAxLjQyMDk0IDIuOTI5NTMgMi4xNzEwOCAyLjE3OTM5QzIuOTIxMjMgMS40MjkyNCAzLjkzODY1IDEuMDA3ODEgNC45OTk1MSAxLjAwNzgxWk00Ljk5OTUxIDIuNTA3ODFDNC44NjY5IDIuNTA3ODEgNC43Mzk3MyAyLjU2MDQ5IDQuNjQ1OTYgMi42NTQyNkM0LjU1MjE5IDIuNzQ4MDMgNC40OTk1MSAyLjg3NTIgNC40OTk1MSAzLjAwNzgxQzQuNDk5NTEgMy4xNDA0MiA0LjU1MjE5IDMuMjY3NiA0LjY0NTk2IDMuMzYxMzdDNC43Mzk3MyAzLjQ1NTEzIDQuODY2OSAzLjUwNzgxIDQuOTk5NTEgMy41MDc4MUM1LjEzMjEyIDMuNTA3ODEgNS4yNTkzIDMuNDU1MTMgNS4zNTMwNyAzLjM2MTM3QzUuNDQ2ODMgMy4yNjc2IDUuNDk5NTEgMy4xNDA0MiA1LjQ5OTUxIDMuMDA3ODFDNS40OTk1MSAyLjg3NTIgNS40NDY4MyAyLjc0ODAzIDUuMzUzMDcgMi42NTQyNkM1LjI1OTMgMi41NjA0OSA1LjEzMjEyIDIuNTA3ODEgNC45OTk1MSAyLjUwNzgxWk00LjQ5OTUxIDQuMDA3ODFDNC4zNjY5IDQuMDA3ODEgNC4yMzk3MyA0LjA2MDQ5IDQuMTQ1OTYgNC4xNTQyNkM0LjA1MjE5IDQuMjQ4MDMgMy45OTk1MSA0LjM3NTIgMy45OTk1MSA0LjUwNzgxQzMuOTk5NTEgNC43NDg4MSA0LjE3OTAxIDQuOTI4ODEgNC40MDU1MSA0Ljk3NjgxTDQuMTA5MDEgNi40MTM4MUMzLjk5MzAxIDYuOTk0MzEgNC40MDgwMSA3LjUwNzgxIDQuOTk5MDEgNy41MDc4MUg1LjQ5OTAxQzUuNjMxNjIgNy41MDc4MSA1Ljc1ODggNy40NTUxMyA1Ljg1MjU3IDcuMzYxMzdDNS45NDYzMyA3LjI2NzYgNS45OTkwMSA3LjE0MDQyIDUuOTk5MDEgNy4wMDc4MUM1Ljk5OTAxIDYuODc1MiA1Ljk0NjMzIDYuNzQ4MDMgNS44NTI1NyA2LjY1NDI2QzUuNzU4OCA2LjU2MDQ5IDUuNjMxNjIgNi41MDc4MSA1LjQ5OTAxIDYuNTA3ODFINS4xMDkwMUw1LjQ4NDAxIDQuNjAxODFDNS40OTkwNyA0LjUyOTg1IDUuNDk3ODUgNC40NTU0MyA1LjQ4MDQzIDQuMzg0MDFDNS40NjMwMiA0LjMxMjU4IDUuNDI5ODQgNC4yNDU5NSA1LjM4MzM1IDQuMTg5MDFDNS4zMzY4NSA0LjEzMjA2IDUuMjc4MiA0LjA4NjIzIDUuMjExNyA0LjA1NDg4QzUuMTQ1MiA0LjAyMzUzIDUuMDcyNTMgNC4wMDc0NSA0Ljk5OTAxIDQuMDA3ODFINC40OTk1MVoiIGZpbGw9IiNBQkFCQUIiLz4KPC9zdmc+Cg==")
}

.wps-tooltip-icon.privacy {
  background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEzIiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMTMgMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02LjUgMC42MjVMMTEuNjM1NiAxLjc2NjI0QzExLjkyMTYgMS44Mjk3OSAxMi4xMjUgMi4wODM0MiAxMi4xMjUgMi4zNzYzNlY4LjYxODA2QzEyLjEyNSA5Ljg3MTg3IDExLjQ5ODQgMTEuMDQyNyAxMC40NTUxIDExLjczODJMNi41IDE0LjM3NUwyLjU0NDg4IDExLjczODJDMS41MDE2MyAxMS4wNDI3IDAuODc1IDkuODcxODcgMC44NzUgOC42MTgwNlYyLjM3NjM2QzAuODc1IDIuMDgzNDIgMS4wNzg0NiAxLjgyOTc5IDEuMzY0NDIgMS43NjYyNEw2LjUgMC42MjVaTTYuNSAxLjkwNTQ5TDIuMTI1IDIuODc3NzFWOC42MTgwNkMyLjEyNSA5LjQ1Mzk0IDIuNTQyNzUgMTAuMjM0NSAzLjIzODI1IDEwLjY5ODJMNi41IDEyLjg3MjdMOS43NjE3NSAxMC42OTgyQzEwLjQ1NzIgMTAuMjM0NSAxMC44NzUgOS40NTM5NCAxMC44NzUgOC42MTgwNlYyLjg3NzcxTDYuNSAxLjkwNTQ5Wk02LjUgNC4zNzVDNy4xOTAzNyA0LjM3NSA3Ljc1IDQuOTM0NjQgNy43NSA1LjYyNUM3Ljc1IDYuMDg3NCA3LjQ5ODk0IDYuNDkxMTIgNy4xMjU2OSA2LjcwNzM3TDcuMTI1IDkuMzc1SDUuODc1TDUuODc0OTQgNi43MDc3NUM1LjUwMTM3IDYuNDkxNjIgNS4yNSA2LjA4NzY2IDUuMjUgNS42MjVDNS4yNSA0LjkzNDY0IDUuODA5NjMgNC4zNzUgNi41IDQuMzc1WiIgZmlsbD0iIzU2NTg1QSIvPgo8L3N2Zz4K")
}

.wps-refresh-icon {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%230C0C0D%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%230C0C0D%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  transition: background-image .1s ease-in;
}

.wps-refresh:hover .wps-refresh-icon {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
}

.wps-refresh:focus .wps-refresh-icon {
  transition: transform .6s ease-in-out;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
}

.wps-refresh span {
  color: $dim-black-color;
}

.wps-refresh:focus span,
.wps-refresh:hover span {
  color: #404BF2;
}

.button-link.wps-more,
.button-link.wps-refresh {
  text-decoration: none !important;
}

/* WordPress PostBox Full */
.wps-postbox-full {
  width: 100%;
  float: left;
  margin-right: 20px;
}

#wps-big-postbox {
  width: 100%;
  direction: ltr;
  margin-top: 5px;
}

.log-url {
  direction: ltr;
  float: left;
  font-size: 10px;
  margin: 0 0 0 2px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-comparison-widget,
#wp-statistics-useronline-widget {
  overflow: visible;
}

#time_zone a {
  font-size: 11px;
  text-decoration: none;
}


#about-links {
  margin: 0 0 10px;
}

#about-links p {
  display: inline;
  font-size: 12px;
  margin: 0 2px;
  font-style: italic;
}

#about-links a {
}

.left-div {
  float: left;
}

.right-div {
  float: right;
}

#donate-text {
  float: left;
}

#donate-button {
  float: right;
  margin: -2px 0 0 0;
}

#donate-button a {
  height: 23px;
  line-height: 22px;
}

.wp-statistics-sub-fullwidth {
  width: 100%;
}

.wp-statistics-responsive-table {
  overflow-x: auto;
}

.wps-postbox-veronalabs {
  margin: 18px 0 0 0;
}

.wps-postbox-veronalabs img {
  width: 116px;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-comparison-widget,
#wp-statistics-useronline-widget,
.wps-wrap {
  .handle-order-higher,
  .handle-order-lower {
    display: none;
  }
}

#wp-statistics-quickstats-widget {
  canvas {
    margin: 0 12px !important;
  }
}