/**
 * WordPress Admin Meta Box
 */

/* Meta Box Loading */
.wps_loading_box {
  width: 100%;
  text-align: center;
  min-height: 65px;
  padding-top: 15px;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-useronline-widget,
#wp-statistics-comparison-widget,
.wps-wrap {
  #normal-sortables .wps-refresh {
    line-height: unset !important;
    width: auto;
    background: #F0F5FF;
    padding: 6px 8px;
    border-radius: 5px;
    height: auto;
    position: relative;
    top: -3px;
  }

  #side-sortables .wps-refresh {
    line-height: unset !important;
    width: auto;
    height: auto;
    padding: 5px;
    position: relative;
    top: -2px;
    border-radius: 100%;
  }

  #side-sortables .wps-refresh {
    line-height: unset !important;
    width: auto;
    height: auto;
    padding: 5px;
    position: relative;
    top: -2px;
    border-radius: 100%;

    &::after {
      content: attr(data-tooltip);
      visibility: hidden;
      width: 37px;
      background-color: $white-color;
      box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      color: $dim-black-color;
      text-align: center;
      padding: 6px 6px;
      border-radius: 6px;
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      top: 110%;
      left: 50%;
      margin-left: -40px;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }

    &:hover {
      &::after {
        visibility: visible;
      }
    }
  }

  #normal-sortables .wps-refresh {
    padding: 4px 6px !important;
    border-radius: 4px !important;
  }

  #normal-sortables .wps-refresh .screen-reader-text {
    width: auto;
    height: auto;
    position: static;
    clip: auto;
    clip-path: unset;
    display: block;
    margin: 0;
    margin-left: 5px;
    line-height: 1.2;
  }

  #normal-sortables .wps-refresh .wps-refresh-icon {
    position: unset !important;
    top: unset !important;
    display: block !important;
    float: left;
    margin-right: 5px;
  }

  #normal-sortables .wps-refresh:focus {
    box-shadow: none !important;
    background: #F0F5FF;
  }

  #normal-sortables .wps-refresh:hover {
    background: #F0F5FF;
  }

  #side-sortables .wps-refresh:hover {
    background: #F0F5FF;
  }

  #side-sortables .wps-refresh:focus {
    box-shadow: none !important;
    background: #F0F5FF;
  }

  .accordion-section-title::after, .handlediv, .item-edit, .postbox .handlediv.button-link, .toggle-indicator {
    color: $dim-black-color;
  }
}

#wps-postbox-container-1 {
  .wps-refresh .wps-refresh-icon {
    margin-right: 0 !important;
  }
}

.wps-refresh-icon {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%230C0C0D%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%230C0C0D%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  transition: background-image .1s ease-in;
}

.wps-refresh:hover .wps-refresh-icon {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
}

.wps-refresh:focus .wps-refresh-icon {
  transition: transform .6s ease-in-out;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  background-image: url('data:image/svg+xml;utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M9.70612%202.28223L8.64862%203.34423C9.35737%204.05335%209.75%204.99648%209.75%205.99998C9.75%208.06848%208.0685%209.74998%206%209.74998V8.99998L4.5%2010.5L6%2012V11.25C8.89462%2011.25%2011.25%208.8946%2011.25%205.99998C11.25%204.59523%2010.7021%203.27523%209.70612%202.28223Z%22%20%2F%3E%3Cpath%20fill%3D%22%23404BF2%22%20d%3D%22M7.5%201.5L6%200V0.75C3.10538%200.75%200.75%203.10538%200.75%206C0.75%207.40475%201.29788%208.72475%202.29387%209.71775L3.35138%208.65575C2.64263%207.94663%202.25%207.0035%202.25%206C2.25%203.9315%203.9315%202.25%206%202.25V3L7.5%201.5Z%22%20%2F%3E%3C%2Fsvg%3E');
}

.wps-refresh span {
  color: $dim-black-color;
}

.wps-refresh:focus span,
.wps-refresh:hover span {
  color: #404BF2;
}

.button-link.wps-more,
.button-link.wps-refresh {
  text-decoration: none !important;
}

/* WordPress PostBox Full */
.wps-postbox-full {
  width: 100%;
  float: left;
  margin-right: 20px;
}

#wps-big-postbox {
  width: 100%;
  direction: ltr;
  margin-top: 5px;
}

.log-url {
  direction: ltr;
  float: left;
  font-size: 10px;
  margin: 0 0 0 2px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-comparison-widget,
#wp-statistics-useronline-widget{
  overflow: visible;
}

#time_zone a {
  font-size: 11px;
  text-decoration: none;
}


#about-links {
  margin: 0 0 10px;
}

#about-links p {
  display: inline;
  font-size: 12px;
  margin: 0 2px;
  font-style: italic;
}

#about-links a {
}

.left-div {
  float: left;
}

.right-div {
  float: right;
}

#donate-text {
  float: left;
}

#donate-button {
  float: right;
  margin: -2px 0 0 0;
}

#donate-button a {
  height: 23px;
  line-height: 22px;
}

.wp-statistics-sub-fullwidth {
  width: 100%;
}

.wp-statistics-responsive-table {
  overflow-x: auto;
}

.wps-postbox-veronalabs {
  margin: 18px 0 0 0;
}

.wps-postbox-veronalabs img {
  width: 116px;
}

#wp_statistics_editor_meta_box,
#wp-statistics-browsers-widget,
#wp-statistics-countries-widget,
#wp-statistics-hitsmap-widget,
#wp-statistics-hits-widget,
#wp-statistics-pages-widget,
#wp-statistics-recent-widget,
#wp-statistics-referring-widget,
#wp-statistics-search-widget,
#wp-statistics-summary-widget,
#wp-statistics-words-widget,
#wp-statistics-top-visitors-widget,
#wps_hits_postbox,
#wps_top_visitors_postbox,
#wps_search_postbox,
#wps_words_postbox,
#wps_recent_postbox,
#wps_map_postbox,
#wps_pages_postbox,
#wps_summary_postbox,
#wps_browsers_postbox,
#wps_referring_postbox,
#wps_countries_postbox,
#wps_pages_postbox,
#wp-statistics-models-widget,
#wp-statistics-platforms-widget,
#wp-statistics-quickstats-widget,
#wp-statistics-devices-widget,
#wp-statistics-comparison-widget,
#wp-statistics-useronline-widget,
.wps-wrap {
  .handle-order-higher,
  .handle-order-lower {
    display: none;
  }
}

#wp-statistics-quickstats-widget {
  canvas {
    margin: 0 12px !important;
  }
 }