#post-stats {
  border: none;
}

#th-colspan {
  text-align: center;
}

#th-colspan span {
  color: #459605 !important;
  font-size: 30px;
}

#last-visitor tr {
  text-align: center;
}

#last-visitor tr:first-child {
  background: none repeat scroll 0 0 #EEEEEE;
  font-weight: bold;
  text-align: center;
}

#last-search tr {
  text-align: center;
}

#last-search tr:first-child {
  background: none repeat scroll 0 0 #EEEEEE;
  font-weight: bold;
  text-align: center;
}

table.wps-table-fixed {
  table-layout: fixed;
  width: 100%;
}

table.wps-table-auto {
  table-layout: auto;
  width: 100%;
}

.wps-report-table tr {
  text-align: left;
}

.wps-report-table tr:first-child {
  background: none repeat scroll 0 0 #EEEEEE;
  font-weight: bold;
  text-align: center;
}

.th-center {
  text-align: center !important;
}

.th-right {
  text-align: right !important;
}

.td-align {
  text-align: left;
}

.td-url {
  color: #009936 !important;
  direction: ltr;
  font-size: 10px !important;
  text-align: left;
  white-space: nowrap;
}

.log-item {
  border-bottom: 1px solid #efeeee;
  border-top: 1px solid #FFFFFF;
  min-height: 46px;
  padding: 3px 7px;
}

.log-item:hover {
  background: none repeat scroll 0 0 #f7f7f7;
}

.show-map {

}

.log-referred {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.log-page-title {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.log-ip {
  direction: ltr;
  float: right;
  font-size: 10px;
  margin-bottom: 5px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.log-tools {
  float: left;
  margin: 0 2px;
}

.rtl .log-tools {
  float: right;
}

.log-agent {
  float: left;
}

/*
.ui-sortable {
  min-height: 100px;
}
*/

.table-stats tr, .table-stats td {
  background-color: white;
  transition: 1s all;
}

.table-stats tr:last-child td {
  border-bottom: 0;
}

.table-stats tr:hover:not(:first-child) td {
  background-color: rgba(241, 241, 241, 0.65) !important;
}

.table-stats tr:first-child td {
  border: 0 none;
  text-align: left;
}

.rtl .table-stats.left-align tr,
.rtl .table-stats.left-align td {
  text-align: left !important;
}

.rtl .table-stats tr, .rtl .table-stats td {
  text-align: right !important;
}

.rtl .table-stats .log-tools {
  float: right;
}

.rtl .table-stats .th-center {
  text-align: center !important;
}

.rtl .table-stats .th-right {
  text-align: left !important;
}

.table-stats {
  border: 0 none !important;
}

#visits-log {
  direction: ltr;
  height: 290px;
  width: 100%;
}

#search-engine-log {
  direction: ltr;
}

#platform-log {
  direction: ltr;
}

#visits-stats {
  direction: ltr;
}

#exclusion-stats {
  direction: ltr;
}

#search-stats {
  direction: ltr;
}

#page-stats {
  direction: ltr;
}


td .wps-tooltip-icon.info {
  width: 12px;
  height: 12px;
  margin-top: 0;
  margin-bottom: -1px;
  background-image:url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02Ljk5OTY3IDAuMzQxNzk3QzMuMzE3NjcgMC4zNDE3OTcgMC4zMzMwMDggMy4zMjY0NiAwLjMzMzAwOCA3LjAwODQ2QzAuMzMzMDA4IDEwLjY5MDUgMy4zMTc2NyAxMy42NzUxIDYuOTk5NjcgMTMuNjc1MUMxMC42ODE3IDEzLjY3NTEgMTMuNjY2MyAxMC42OTA1IDEzLjY2NjMgNy4wMDg0NkMxMy42NjYzIDMuMzI2NDYgMTAuNjgxNyAwLjM0MTc5NyA2Ljk5OTY3IDAuMzQxNzk3Wk02Ljk5OTY3IDEuNjc1MTNDOC40MTQxNiAxLjY3NTEzIDkuNzcwNzIgMi4yMzcwMyAxMC43NzA5IDMuMjM3MjNDMTEuNzcxMSA0LjIzNzQyIDEyLjMzMyA1LjU5Mzk4IDEyLjMzMyA3LjAwODQ2QzEyLjMzMyA4LjQyMjk1IDExLjc3MTEgOS43Nzk1MSAxMC43NzA5IDEwLjc3OTdDOS43NzA3MiAxMS43Nzk5IDguNDE0MTYgMTIuMzQxOCA2Ljk5OTY3IDEyLjM0MThDNS41ODUxOSAxMi4zNDE4IDQuMjI4NjMgMTEuNzc5OSAzLjIyODQ0IDEwLjc3OTdDMi4yMjgyNCA5Ljc3OTUxIDEuNjY2MzQgOC40MjI5NSAxLjY2NjM0IDcuMDA4NDZDMS42NjYzNCA1LjU5Mzk4IDIuMjI4MjQgNC4yMzc0MiAzLjIyODQ0IDMuMjM3MjNDNC4yMjg2MyAyLjIzNzAzIDUuNTg1MTkgMS42NzUxMyA2Ljk5OTY3IDEuNjc1MTNaTTYuOTk5NjcgMy42NzUxM0M2LjgyMjg2IDMuNjc1MTMgNi42NTMyOSAzLjc0NTM3IDYuNTI4MjcgMy44NzAzOUM2LjQwMzI1IDMuOTk1NDIgNi4zMzMwMSA0LjE2NDk5IDYuMzMzMDEgNC4zNDE4QzYuMzMzMDEgNC41MTg2MSA2LjQwMzI1IDQuNjg4MTggNi41MjgyNyA0LjgxMzJDNi42NTMyOSA0LjkzODIzIDYuODIyODYgNS4wMDg0NiA2Ljk5OTY3IDUuMDA4NDZDNy4xNzY0OSA1LjAwODQ2IDcuMzQ2MDYgNC45MzgyMyA3LjQ3MTA4IDQuODEzMkM3LjU5NjEgNC42ODgxOCA3LjY2NjM0IDQuNTE4NjEgNy42NjYzNCA0LjM0MThDNy42NjYzNCA0LjE2NDk5IDcuNTk2MSAzLjk5NTQyIDcuNDcxMDggMy44NzAzOUM3LjM0NjA2IDMuNzQ1MzcgNy4xNzY0OSAzLjY3NTEzIDYuOTk5NjcgMy42NzUxM1pNNi4zMzMwMSA1LjY3NTEzQzYuMTU2MiA1LjY3NTEzIDUuOTg2NjMgNS43NDUzNyA1Ljg2MTYgNS44NzAzOUM1LjczNjU4IDUuOTk1NDIgNS42NjYzNCA2LjE2NDk5IDUuNjY2MzQgNi4zNDE4QzUuNjY2MzQgNi42NjMxMyA1LjkwNTY3IDYuOTAzMTMgNi4yMDc2NyA2Ljk2NzEzTDUuODEyMzQgOC44ODMxM0M1LjY1NzY3IDkuNjU3MTMgNi4yMTEwMSAxMC4zNDE4IDYuOTk5MDEgMTAuMzQxOEg3LjY2NTY3QzcuODQyNDkgMTAuMzQxOCA4LjAxMjA1IDEwLjI3MTYgOC4xMzcwOCAxMC4xNDY1QzguMjYyMSAxMC4wMjE1IDguMzMyMzQgOS44NTE5NCA4LjMzMjM0IDkuNjc1MTNDOC4zMzIzNCA5LjQ5ODMyIDguMjYyMSA5LjMyODc1IDguMTM3MDggOS4yMDM3MkM4LjAxMjA1IDkuMDc4NyA3Ljg0MjQ5IDkuMDA4NDYgNy42NjU2NyA5LjAwODQ2SDcuMTQ1NjdMNy42NDU2NyA2LjQ2NzEzQzcuNjY1NzYgNi4zNzExOCA3LjY2NDEzIDYuMjcxOTYgNy42NDA5IDYuMTc2NzJDNy42MTc2OCA2LjA4MTQ5IDcuNTczNDUgNS45OTI2NSA3LjUxMTQ1IDUuOTE2NzJDNy40NDk0NiA1Ljg0MDc5IDcuMzcxMjYgNS43Nzk2OSA3LjI4MjU5IDUuNzM3ODhDNy4xOTM5MyA1LjY5NjA4IDcuMDk3MDMgNS42NzQ2NCA2Ljk5OTAxIDUuNjc1MTNINi4zMzMwMVoiIGZpbGw9IiNEQURDRTAiLz4KPC9zdmc+Cg==")
 }
#wp-statistics-pages-widget,
#wp-statistics-countries-widget,
#wp-statistics-referring-widget {
  .inside {
    table.o-table {
      tr {
        td:last-child, th:last-child {
          text-align: right !important;
        }
      }
    }
  }
}
